<div data-controller="animator" class="text-slate-100 font-righteous">
  <div class="flex w-full justify-center py-4">
    <h1 class="font-bold text-6xl">Animator</h1>
  </div>
  <div class="flex gap-4 mb-4">
    <canvas id="canvas" data-animator-target="canvas"
      class="bg-white">
    </canvas>  
  </div>
  <div class="flex w-full justify-center gap-2">
    <button class="btn-green" data-action="animator#dvdCircle">DVD Bounce</button>
    <button class="btn-green" data-action="animator#fillBubbles">Rings</button>
    <button class="btn-green" data-action="animator#movingCircles">Pulse</button>
    <button class="btn-green" data-action="animator#growingCircles">Bubbles</button>
    <button class="btn-green" data-action="animator#trailCircles">Marbles</button>
    <button class="btn-blue" data-action="animator#clear">Clear</button>
  </div>
</div>