$turqoise: #0081a7;
$aqua: #00afb9;
$cream: #fdfcdc;
$peach: #fed9b7;
$coral: #f07167;
$grey: grey;
$charcoal: #003d5b;
$teal: #78c893;
$slime: #d9ed92;
$white: whitesmoke;

//the below are referenced in other files
$light: $grey;
$dark: $charcoal;
$border: $charcoal;

$primary: $turqoise;
$secondary: $aqua;
$info: $cream;
$warning: $peach;
$danger: $coral;
$success: $teal;