<style>

.scoreboard {
	position: fixed;
	background: lightgrey;
	border-radius: 15px;
	box-shadow: 0 0 1rem #ccffcc;
	color: white;
	top: 80px;
	right: 10px;
	z-index: 2;
	width: 12rem;
	height: 10rem;
	font-size: 3rem;
	display: flex;
	gap: 1rem;
}

.correct {
	color: palegreen;
}

.incorrect {
	color: red;
}

.results {
	display: flex;
	justify-content: center;
	flex: 1;
	font-size: 2rem;
	font-weight: bold;
}

p {
	width: 60rem;
	margin-left: 10rem;
}

</style>
<div data-controller="proctor" data-proctor-found-class="text-success h5" data-proctor-oops-class="text-danger">
	<div class="scoreboard">
		<ul>
			<li data-proctor-target="correct" class="correct"></li>
			<li data-proctor-target="incorrect" class="incorrect"></li>
		</ul>
		<div class="questions-left"></div>
	</div>
	<div>
	<p data-proctor-target="question" class="h5 p-2">1. Which of the following is <b>not</b> an example of what an insurance policy can provide an insured?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Help protect from the possibility of a loss.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Reduce the uncertainty of financial loss.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Eliminate the risk of sickness.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Replace a large possible loss with that of a small certain loss (premium).</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">2. Select from the choices below the best description of a speculative risk.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Insuring someone over the age of 90</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Involving the possibility of a gain in addition to the uncertainty of loss.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Insuring against a situation that offers no possibility of gain.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The purchase of an insurance policy to protect from gambling losses.</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">3. The best description of a hazard is a/an:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Condition that may increase the chance that a loss may occur</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Cause of a loss</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Pure risk</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Uncertainty of a financial loss</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">4.Intentionally submitting false information on a life application is an example of a moral hazard.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. True</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">5. The owner of an office building recognizes the hazards of the building because of its age. He decides to finally get insurance to protect him from a possible legal suit. This would be an example of avoidance of risk.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. True</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">6. Choose from the following selections the best description of a premium.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Funds received by an insured from an insurer to realize the benefits of the policy.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Funds received by an insurer from an insured to realize the benefits of the policy.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. A bonus paid to an agent for high insurance sales production.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. The amount an insured pays for each unit of coverage. $7 for every $1,000 of coverage is an example.</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">7. Which of these is the best way to define the concept of &#8220;indemnity?&#8221;</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. It&#8217;s only when concealed facts are material that an insurer can rescind or cancel a policy.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Only the insurance company makes a legally enforceable promise.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. An insured cannot receive more than an actual economic loss in the event of a claim.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. If there is an unclear statement in a contract of insurance the courts will rule in favor of the insured.</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">8. The principle of indemnification is best described below as:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Protecting from any past legal situation.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. A hazard not specifically defined in the code.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. A form of insurance that insurance companies buy to decrease exposure from investment losses.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Restoring an individual to a condition they enjoyed in the past, thus making them whole.</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">9. When is insurable interest required to exist with a life insurance policy?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. At the time of death.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. At the time the policy is written but not at the time of death.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. At the time the policy is written and at the time of death.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. At all times during the policy life.</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">10. All the following statements regarding policy dividends are true except:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Non-participating policies generally pay large dividends.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Dividends cannot be guaranteed.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Not all dividends are taxable</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">11. Sam&#8217;s insurance policy pays a dividend. The agent that sold Sam the policy refers to the shareholders of the company as &#8220;participating,&#8221; therefore it is a(n) _____ insurer.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Assessment</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Foreign</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Stock</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Mutual</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">12. Which of the following would be considered an alien insurer?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. An unauthorized company that underwrites undocumented workers.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. A company located in England and doing business in California.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. A company that is organized in Nevada but maintains branch offices in this state.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. All the above are alien insurers.</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">13. Julie is a licensed insurance salesperson who represents the Silver Dollar Insurance Company. If you were to look at the front of her office you would see a sign that reads:</p>
	<p data-proctor-target="question" class="h5 p-2">SILVER DOLLAR INSURANCE COMPANY &#8211; Julie Insurance Agency.</p>
	<p data-proctor-target="question" class="h5 p-2">If Julie performs acts that are not specifically named in the written contract she has with Silver Dollar she is exercising her ______ authority.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Principal</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Implied</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Express</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. All the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">14. Agents must act on behalf of their clients in such a way that uphold their &#8220;fiduciary duty.&#8221; Select the best example of this duty from the choices below.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Assuring a claim form is forwarded to the insurer in a timely manner.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Reviewing the insurance needs and coverage for a client periodically.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Quickly sending an insured&#8217;s premium to the home office.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Assisting a client to choose the best policy for their situation.</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">15. The Fair Credit Reporting Act mandates that a credit reporting company responds to a consumer complaint when that company&#8217;s credit report inaccurately reflects information about the consumer.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">A. True</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">16. In the process of applying for insurance an applicant is asked questions that do not relate to underwriting but are clearly meant for attaining marketing information. Under the code this practice is allowable assuming the person applying for coverage is informed of such practices.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. True</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">17. The term &#8220;consideration&#8221; applies to the issuance of an insurance policy. Choose the best description of this term from the choices below.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The amount of death benefit.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The time the underwriting department gives the application.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The face amount of the policy one year from the date of issue.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. None of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">18. The doctrine of &#8220;utmost good faith&#8221; applies to the business of transacting insurance. Which of the following is an example of its application?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Each party is entitled to rely upon the representations of the other party.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Answers to application questions are provided to the best of one&#8217;s knowledge.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Each party to a contract must give valuable consideration.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Any unclear or ambiguous statement in a contract of insurance is decided in favor of the insured.</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">19. Fraud is an intentional act to deceive and induce another to part with something of value. Which of the following would describe fraud in the process of applying for insurance?</p>
	<p data-proctor-target="question" class="h5 p-2">1. intentionally distorting the truth to get an insurance policy</p>
	<p data-proctor-target="question" class="h5 p-2">2. making a misrepresentation that has no material effect and displays no intent to lie</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. 1 only</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. 2 only</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Both 1 and 2</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Neither 1 nor 2</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">20. Choose the correct answer. The California Insurance Code:</p>
	<p data-proctor-target="question" class="h5 p-2">1. includes laws and regulations the Commissioner has issued.</p>
	<p data-proctor-target="question" class="h5 p-2">2. is basically the body of laws governing insurance business in this state.</p>
	<p data-proctor-target="question" class="h5 p-2">3. is broken into five sections. They are: life, health, personal lines, commercial property and commercial liability insurance.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. 1 only</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. 2 only</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. 1 and 3</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. 1, 2 and 3</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">21. The Commissioner has numerous responsibilities and wide-ranging authority concerning the California Insurance Code. Should he deem it necessary, he can rewrite certain sections of the code to better serve the insuring public.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. True</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">22. Which of the following is required to be included in the writing of an insurance contract?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The parties between whom the contract is made</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The risks insured against</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The period in which the insurance is to continue.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. All the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">23. Neglecting to communicate that which a party knows, and ought to communicate, so that the other party may make a sound decision is known as:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Concealment</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Material information</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Boycotting</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. None of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">24. From the following, identify that which applies to an applicant&#8217;s misstatement on an application for insurance:</p>
	<p data-proctor-target="question" class="h5 p-2">1. Should the misstatement be made with express intent to mislead the insurer it is considered fraud</p>
	<p data-proctor-target="question" class="h5 p-2">2. Should the misstatement not be material to the company&#8217;s decision it may not affect the application</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. 1 only</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. 2 only</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. 1 and 2</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">25. All of the following statements are correct regarding a &#8220;warranty&#8221; except:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. It is a statement merely made to the best of one&#8217;s knowledge, and can only be express</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Should either party violate a warranty it entitles the other party to cancel the contract.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Warranties can be made about events in the past, present or future</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Warranties made at or during the execution of a policy must be contained in the policy, signed by the insured and attached to the contract</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">26. Which of the following is correct about the term &#8220;transact&#8221; as it applies to the field of insurance and the various penalties for insurance transactions in violation of the code?</p>
	<p data-proctor-target="question" class="h5 p-2">1. Solicitation is a part of transacting insurance</p>
	<p data-proctor-target="question" class="h5 p-2">2. Negotiations preliminary to the execution of a policy falls within the definition of transacting insurance</p>
	<p data-proctor-target="question" class="h5 p-2">3. Should a person transact without a valid license, he/she is guilty of a misdemeanor</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. 1 and 2</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. 2 and 3</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. 1 and 3</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. 1, 2 and 3</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">27. According to the code, &#8220;transact,&#8221; as it applies to insurance does not include negotiations preliminary to the execution of a contract of insurance.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. True</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">28. The California Insurance Code cites a specific definition for a &#8220;life agent.&#8221; A life agent is:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. An insurance broker</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. An insurance agent</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. A person authorized to aid an insurance agent to solicit life insurance</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. a, b and c are false</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">29. In the California Insurance Code there is a definition that reads, in short, &#8220;&#8230;a person who, for a fee, offers to advise any insured having any interest in life or disability insurance contracts&#8230;&#8221; This is the definition of:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. An insurance broker paid on a fee-for-service</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. A solicitor</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. A life and disability analyst</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">30. Of the items listed below, which are requirements for a life and disability insurance analyst license?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The applicant must have a good general reputation and good business reputation</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The applicant must be 18 years of age, minimum</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The applicant must have a thorough knowledge of life and disability insurances</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. These are all required</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">31. To protect (subject to statutory limitations) life and health owners and insureds in the event of impairment or insolvency of a member insurer. This is a description of:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Medi-Cal</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. The Life and Health Insurance Guarantee Association</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. OBRA</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. None of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">32. Viatical settlements are accomplished through the use of:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Non-forfeiture option</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Settlement options</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Collateral assignment</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Absolute assignment</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">33. The license of an agent is considered inactive when:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. All renewal fees are paid but there is a termination of all appointments</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The license has not been renewed</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Transactions of insurance are no longer executed following a 1-year period</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. None of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">34. Ben is a life agent who would like to do business with the Rock Solid Insurance Company but he doesn&#8217;t have an appointment to sell their policies. Assuming Rock Solid does not require exclusive representation, can Ben submit an application to them from a prospect?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. No, appointments are always required to be filed prior to submitting applications</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Yes, and the application need not be approved by the underwriting department</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Yes, and if the insurer approves the application they must appoint Ben within 14 days</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. All the above are false</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">35. Assuming CE requirements have been met, how is the life agent&#8217;s license renewed?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Pay the renewal billing notice the Department sends out about 60 days before the renewal date</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Pay the renewal billing notice the Department sends out 90 days before the renewal date</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Pay the renewal fee, at which time the Department will send the renewal notice</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Licenses are automatically renewed assuming no disciplinary action has been taken</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">36. Chuck Norris has earned a Chartered Life Underwriter designation. From the selections below choose the one that the California Insurance Code would find acceptable when publishing his name:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Norris Insurance Services</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Chuck Norris, CLU and Company</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Chuck Norris, Insurance Company</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. All the above are acceptable</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">37. Every licensee must indicate on which of the following documents his or her license number?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Print advertisements</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Business cards</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Written price quotations</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. All the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">38. When any change in residence address occurs, every licensee and every applicant for a license must notify the Commissioner. (Select the most correct response)</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Within 6 months after the move has taken place</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Within 6 months before the license is to expire</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. 30 days before submitting a continuing education certificate.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Immediately</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">39. An agent makes a misleading comparison of a policy he is selling in order to convince a prospect to lapse an old insurance policy. What is this called?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Intimidation</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Boycotting</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Rebating</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Twisting</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">40. Which of the following is not legal when determining premium rates for life or disability insurance?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Gender</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Nationality</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Age</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. All the above may not be used</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">41. Generally, it is unfair to discriminate against any one class of individuals in the business of insurance. However, the code does permit the charging of a higher premium if such premiums can be supported by mortality tables segregated by sex (gender).</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. True </p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">42. Which of the following is not a legal activity in this state?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Participating in a plan to offer free insurance if a person buys some form of service</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Disregarding age in the determination of insurance rates</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Refusing to apply the practice of twisting in sales</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. All the above are legal in the state of California</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">43. Employees that have group life or health policies covering them are required to be issued a/an</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Estimate of employer’s premiums</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Certificate of insurance</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Master policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Monthly premium notification on a non-participating plan.</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">44. Jerry is using a new time management technique in his insurance sales presentation. In order to cut the amount of time he spends at each appointment he no longer answers questions when they are first asked. Instead he answers them only if they are asked twice. He feels this will allow him to get to his next meeting quicker. Most insurance professionals would consider this:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. An unethical practice</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. A clever and ethical practice</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">45. In the life insurance planning process, the &#8220;blackout period&#8221; is considered:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The period of time after a life insurance application is written and the date the coverage takes effect</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The period of time when there is not enough income available as required by the insured&#8217;s beneficiaries</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. The period of time when a surviving spouse does not receive any Social Security benefits</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. None of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">46. All of the following are reasons for an individual to purchase personal life insurance, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. To have funds that can supplement Social Security at retirement</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. To cover a buy/sell agreement</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. For the creation of an immediate estate</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. To have cash available for emergencies</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">47. Why would a business use a key person life insurance policy?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. To provide the key employee&#8217;s surviving family members with funds to live on after the death of the employee</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. To help the employee&#8217;s spouse supplement her Social Security benefits</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c.. To better allow the employee qualify for a bank loan</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. To protect the company from the financial consequences of the death of a vice president</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">48. Identify the statement that is true about contributory group life insurance:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The employer will make a cash contribution to the estate of a deceased employee</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The employer will contribute the full amount of the premium</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. The employee will contribute to the premium payments</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. None of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">49. Select the correct statement about the Social Security system.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. It is, for the most part, a voluntary program</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. It is only meant to be a supplement to an individual&#8217;s major income; it only supplies a minimum floor of income</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The system is completely and fully funded</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The amount each person gets out is nearly exactly what they put in</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">50. Which of the following is true regarding the government&#8217;s social insurance program known as Social Security?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a.The majority of workers in the U.S. must pay into the program</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The contributions paid in closely match the benefits received</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Participants sign a contractual agreement with the insurer</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Both A and B above are true</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">51. Choose the payments from an insurance policy which are not subject to federal income taxes:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Any part of the death benefit paid as the result of choosing the &#8220;life income&#8221; settlement option</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The death benefit paid to a beneficiary in a lump sum</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Any cash value received upon the surrender of a life insurance policy.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. None of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">52. Which of the following is false about dividends paid from life insurance policies? A dividend is:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Treated as a return of excess premium paid by the owner and is therefore taxable</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Interest earned on dividends and paid to the policy owner. It is considered taxable.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Not guaranteed to be paid to the policyowner</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">53. Which of these statements with regard to the tax treatment of life insurance is true?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Death benefits are exempt from taxation</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Individual policy premiums are tax deductible</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Policy premiums that provide benefits to employees are not tax deductible</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. These are all true</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">54. Which of the following is false regarding the taxation of life insurance?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Annuity death benefits are totally exempt from taxation</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Businesses that buy group term life insurance for its employees can generally deduct the premiums because they are considered a business expense</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Individuals making premium payments on life insurance cannot deduct thosepremiums</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. None of the above are false</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">55. Patrick has been diligent in investing money for his retirement. He has managed to put $100,000 of after-tax money into a tax-deferred annuity. Now he is ready to take it out, and the insurance company that issued the annuity says his guaranteed payment is $8,000 a year for the remainder of his life. This means he can expect a total amount of $200,000 back over his life. How much of each year&#8217;s annuity payment is taxable?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. $8,000</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. $4,000</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. $2,000</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. $0</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">56. When applying for insurance, there is usually the owner of the contract, the insured and the applicant. They may be:</p>
	<p data-proctor-target="question" class="h5 p-2">1. Three different individuals</p>
	<p data-proctor-target="question" class="h5 p-2">2. The same person</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. 1 only</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. 2 only</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. both 1 and 2</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. neither of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">57. Insurance companies have several departments handling various responsibilities in the issuance of policies. Which department is primarily involved with the selection of risks?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The sales unit.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. The underwriting unit</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The claims unit</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The actuarial unit</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">58. Bill holds two jobs. If Bill were to apply for an insurance policy and the insurer reviews the risk exposure based on his occupation, which of the following would the insurer most likely use to classify him? The job:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Which would constitute the highest premium</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. That Bill has worked at the longest</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. That represents the highest hazard</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. That Bill devotes the most time to every week</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">59. Which of the following supports the Medical Information Bureau?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Insurance companies</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Insurance agents</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The Department of Insurance</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. None of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">60. Select the incorrect statement from the choices below concerning insurance applications:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Before the insurer can issue the policy, the beneficiary must acknowledge anychanges by providing his/her original initial</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Applications become a part of the contract, when attached</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The statements made on the application are viewed as representations (statements made to the best of the applicant&#8217;s knowledge)</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The name of the insured must appear somewhere on the application</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">61. From the following, identify that which constitutes the &#8220;entire contract&#8221; in a life insurance policy. The policy:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. And any oral statements along with the application</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. And a copy of the application when attached</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. And a brochure on the insurer including code-approved financial information</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. But not the application</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">62. Fran is comparing life insurance available through her employer and an independent life agent. Her employer provides automatic coverage and requires _____ medical information than the life agent.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. More</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Less</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Neither A nor B, the medical information required would be the same.</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">63. Which of the following is not an acceptable risk to the underwriting department of an insurance company?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Sub-standard</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Preferred</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Standard</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. All are acceptable risks</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">64. All of the following are used in determining life insurance rates, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Investment and interest return</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Mortality expenses</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Insurance company expenses</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Policy reserves</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">65. If the owner of a life insurance policy elects to pay an annual premium, she will:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Find her premiums the same as compared to all other payment methods</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Pay more as compared to paying premiums every 6 months</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Pay less as compared to paying premiums every 6 months</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Pay a reduced amount if she pays earlier in the year, rather than at the end of the term of coverage, as is customary</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">66. A binding receipt issued on the sale of a life insurance policy becomes effective from the date the receipt is given&#8211;no matter what the insurability of the applicant.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. True</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. False</p>
	<p data-proctor-target="question" class="h5 p-2">(although binding receipts do not apply to life insurance policies, know the concept)</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">67. There are four basic classes of life insurance. All of the selections listed below are regarded as ordinary insurance, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. A life paid-up-at-age-55 policy</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. A group life insurance policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. A 10-year endowment contract</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Term life insurance policy</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">68. From the descriptions below, identify which one is a term policy.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The policy contains a provision that provides non-forfeiture options. The owner pays premiums for 25 years after which payments are no longer required yet coverage is still in force</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The policy states premiums are to be paid every year. At the end of 15 years thecash value represents about 25% of the total face amount</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Each year the premium increases as the insured grows older. After several years the coverage and premiums end simultaneously. Cash value is not created</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The premium increases after 5 years then remains the same until it is paid up at age 65</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">69. Decreasing term insurance is frequently used to pay the unpaid balance of a mortgage upon death of the mortgage holder.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. True</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">70. The owner of a non-par whole life policy never misses a payment, never borrows from the policy&#8217;s cash value, and finally reaches the age of 100. What cash value is this person entitled to in comparison to the face amount?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. 100% of the cash value which is now the same as the face amount</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. None of the cash value, the person has not died</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. About 50% of the cash value as of the date of the birthday</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. None of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">71. A policy owner makes the last premium payment on his $250,000 non-par whole life policy today. The owner is 70 years of age. When will the cash value reach $250,000?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. About 13 years from now</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Never, he didn&#8217;t pay up to age 100</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The cash value is $250,000 today</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. When he reaches the age of 100</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">72. When the insured of a non-participating paid-up-at-age-65 life insurance policy attains the age of 65, the cash value will equal the face amount.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. True</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">73. Assume two people apply for life insurance with exactly the same monthly premiums. One individual buys a whole life policy, and the other, a 10-year renewable term plan. Both are standard risks with no difference in their age or health rating. Select the statement from below which is false.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The whole life policy will generate a larger cash value</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Stopping premium payments on the whole life plan may trigger an option of having the cash value pay for premiums. This will have the effect of reducing the overall death benefit</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The 10-year renewable term contract will have a premium increase every 10 years while the whole life policy premium remains level</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. The whole life policy will pay a higher amount to the beneficiary should the insured die within the first 10 years</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">74. A family life insurance policy that provides coverage for children may be converted to permanent insurance for the children, but evidence of insurability is required.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. True</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">75. Survivorship life or second-to-die policies:</p>
	<p data-proctor-target="question" class="h5 p-2">1. Are effectively used to cover the costs of estate taxes</p>
	<p data-proctor-target="question" class="h5 p-2">2. Are issued in excess of $1 million in most cases.</p>
	<p data-proctor-target="question" class="h5 p-2">3. Reflect substantially lower premiums when compared to buying two separate policies.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. 1 only</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. 2 only</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. 3 only</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. 1,2 , and 3</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">76. Frequently, juvenile life policies contain a payor rider. This rider states that in the event the payor of premiums is disabled or dies, and the juvenile has yet to reach a specific age:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The insurance firm will lend (with interest) funds to make the premium payments</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. The premiums will be paid by the insurer until the child reaches the age of 21 or 25</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The deceased parent&#8217;s estate will pay the premiums</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The insurer will completely waive all future premiums</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">77. When premiums are paid into a universal life insurance policy, insurers must make certain adjustments to the cash value. The company will add the current premium paid, and:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Deduct for expenses and mortality costs</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Deduct for general expense charges only</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Deduct for expenses and mortality costs, then add current interest</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The current interest</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">78. Variable life insurance policies and variable annuities are primarily governed by which agency?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. FBI</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. SEC</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. EPO</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. NAIC</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">79. An additional amount of premium used to pay for an accidental death benefit provision does not increase the cash value of the policy.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. True</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">80. The dividends and cash value continue, and all features of the policy remain in force, even though the insurance company, not the owner, is making the premiums. This is a description of a ______ rider.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Cost of living</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Waiver of premium</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Return of cash value</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. None of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">81. Beth wants to purchase more life insurance through her current policy. She calls you, the agent, and asks your opinion. You know Beth has a guaranteed insurability rider on the policy. She can buy more insurance:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Assuming she is still insurable on her life at specific ages</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Without the need to prove insurability on her life at specific ages</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. On the life of her dependent children when they reach certain ages</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Without the need to prove insurability on her life at any time</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">82. Select the policy riders frequently found in life insurance polices:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Accidental death and dismemberment</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Cost of living</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Waiver of premium</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. All of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">83. Choose the correct statement about a cost of living rider. The policy owner:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Is only charged a flat fee to have the rider attached</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Could experience a decrease in amount of the policy if the CPI decreases</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Pays an additional premium for the extra protection the rider provides and will see the face amount of the contract increase according to the increase of the consumer price index</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. All the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">84. Inflation can have a tremendous eroding effect on the purchasing power of benefits that are received from a disability income policy. What type of supplementary benefit rider can be used by the insured to offset the effects of inflation?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Social insurance supplement rider</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Cost of living adjustment rider</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Guaranteed purchase option rider</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Inflation offset rider</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">85. Oscar owns a whole life policy that he has been paying into for many years. He would like to continue having life insurance, and can afford to make the premium payments, but needs about 30% of the cash value for a couple of years. What would be the best course of action for Oscar to take?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Continue making the premium payments to keep the contract in force and borrow from cash value</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Since he must surrender the policy to get any money out he can do so, then buyanother policy with the other 70% of the funds he received from the cash value</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Find another source of funds. He has no access to cash value until the age of 100</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Find another source of funds. Whole life policies do not build cash value</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">86. What does the incontestable clause of a life insurance policy do?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. It keeps the cash value from losing value if the premium is not paid</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. It keeps the insurer from canceling the policy if, after 2 years, there is a discovery of error, concealment, or misstatement by the policy owner</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. It insures the insurance company will not be liable for the acts of fraud by its agents</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. All the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">87. One of the provisions commonly found in life insurance is the &#8220;misstatement of age&#8221; clause. If the age of the insured is in error but not discovered until much later, the insurance company will:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Make an adjustment to the face amount to properly reflect the premiums that have been paid</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Send back all collected premiums to the insured and cancel the policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Send back all collected premiums to the insured, pay interest on that amount and cancel the policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Try to establish if there was intent to defraud. If not, the insurer will most likely notpursue legal actions</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">88. Choose the correct statement about the ten-day free look provision in a life insurance policy:</p>
	<p data-proctor-target="question" class="h5 p-2">1. A full refund of premium is required if the policy is returned within 10 days of delivery</p>
	<p data-proctor-target="question" class="h5 p-2">2. The contract is in force during the 10-day period and any claims must be paid even though the insured returns the contract</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. 1 only</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. 2 only</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. 1 and 2</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. neither of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">89. The California Insurance Code contains very specific regulations regarding the ability of a senior citizen to return a life insurance policy or annuity. The regulation:</p>
	<p data-proctor-target="question" class="h5 p-2">1. Applies to group plans and individually issued policies equally</p>
	<p data-proctor-target="question" class="h5 p-2">2. Allows a senior citizen a minimum of 30 days to return a life or annuity contract to the insurer. They are entitled to a full refund of premium</p>
	<p data-proctor-target="question" class="h5 p-2">3. Specifies a senior citizen as an individual who is at least 65 year of age as of thepurchase date</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. 1 and 2</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. 2 and 3</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. 1 only</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. 2 only</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">90. Juan has been named as an irrevocable beneficiary in a life insurance policy. Juan, therefore:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Can pay premiums at any time and become the policy owner</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Has vested rights to the policy proceeds that, unless he gives consent, cannot be effected by the policy owner nor any creditors</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Is in a legal position to name whoever he wants to as the contingent beneficiary</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. a, b and c above are all false</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">91. An irrevocable beneficiary has certain rights to policy proceeds not shared by revocable beneficiaries. For example, an irrevocable beneficiary must grant permission for the policyowner to borrow from the cash value.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a.True</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">92. In life insurance policies, naming beneficiaries is an important part of the application process. Choose from below the best description of a contingent beneficiary.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. One with the first right to receive proceeds if there is no surviving primary beneficiary and the insured dies</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. One with the right to proceeds only if the primary and secondary beneficiary both die in a common disaster</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. One with the right to proceeds if the insured dies</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. All the above are false</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">93. Choose the best beneficiary designation for the following case:</p>
	<p data-proctor-target="question" class="h5 p-2">The children are to receive equal shares of the benefit. If any of the children die before the insured does, the insured wishes the remaining children receive the deceased child&#8217;s share equally divided among them.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Per stirpes</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Each named as primary beneficiary, equal shares</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Per capita</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. None of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">94. Many insurance policies issued contain a common disaster provision. The provision is designed to protect:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Insurers</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Both a and c</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Contingent beneficiaries</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Neither a nor c</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">95. According to the terms of the suicide clause found in a life insurance policy, if an insured commits suicide 6 months after the policy is issued, what will the insurer do?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Pay the full claim</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Pay a pro-rated amount of the premiums received</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Pay nothing</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Refund all the premiums paid</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">96. Settlement options provide a number of choices relating to how death benefits can be paid by the insurer. These choices:</p>
	<p data-proctor-target="question" class="h5 p-2">1. Can be made by the owner of the policy at the time of submission of the application.</p>
	<p data-proctor-target="question" class="h5 p-2">2. Can be changed by the owner of the policy at any time before benefits are paid.</p>
	<p data-proctor-target="question" class="h5 p-2">3. Can be made by the beneficiary if, at the time of death of the insured, no option was established.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. 1, 2 and 3</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. 1 and 2</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. 1 and 3</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. 1 only</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">97. If no other selection is made, which of the following settlement options becomes the default or automatic mode of settlement for the death benefit of a life insurance policy?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Life income with period certain</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Installment payments</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The purchase of an annuity</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Lump sum in cash.</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">98. All of the following are true regarding a policy owner that ceases making premium payments on a 10-pay life policy and selects the extended term insurance option, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The face amount will be the same on the new extended term plan as the old 10-pay life policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Premium payments no longer have to be made</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The extended term policy will be in force a certain period and then expire</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. The extended term policy will reflect the same cash value as the original policy</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">99. From the examples below, choose the one that gives the best description of a reduced paid-up non-forfeiture option.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The 40-year-old insured can no longer pay on her whole life policy. She takes the cash value from the plan and buys a paid-up policy for the same amount that lasts only 5 1/2 more years.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. The insured decides to cease paying premiums on his $100,000 cash value policy. He uses the cash value to buy a paid-up policy of $40,000 face amount.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Pam can&#8217;t afford the premiums on a 10-pay life policy that now has $50,000 in it. She contacts the insurer with her instructions and is paid the full $50,000 in cash.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. None of the above describe the reduced paid-up option</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">100. What type of life insurance policy gives the owner the right to share in the insurer&#8217;s profits in the form of a dividend?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Whole life</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Any modified endowment contract</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Endowment policy</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Participating policy</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">101. All of the following are examples of the dividend options available on a whole life insurance policy, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. One-year term option</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Application to reduce premium</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Paid-up additions</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Life income with period certain</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">102. When the public purchases annuities, they are attempting to address the risk of:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Dying before the age reflected on mortality tables</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Getting too old to qualify for life insurance</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Having to pay any taxes on their savings.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Outliving the money they have saved for retirement</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">103. A type of contract, which is considered a savings instrument used for accumulating investment funds for the purpose of eventually receiving those through a systematic program of withdrawal is a/an:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Annuity</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Disability insurance policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Term insurance policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. All the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">104. Charles received a large inheritance from his uncle&#8217;s estate. Because he can use the income, he buys an annuity with the full amount of his inheritance that will begin paying him monthly payments starting the following month. Charles has purchased a/an annuity.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Flexible premium deferred</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Annual premium deferred</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Single premium immediate</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. None of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">105. Jennifer has reached a time in her life where she wishes to begin receiving payments from her tax-deferred annuity. Her agent has suggested she take the money by means of the &#8220;life income with 10 years certain&#8221; option. When she does, the insurer will make payments:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. For 120 months assuming she lives that long</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. For at least 120 months or the remainder of her life</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Up to the date she dies, then payments will be made to her beneficiary</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. For 120 months then payments will decrease and be paid to her for life</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">106. In an overall comparison of a savings account and a tax-deferred annuity, where the savings account and annuity both pay the same interest, on the same principal amount, and for the same period of time, which will generate the highest return on investment dollars?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The savings account and annuity will be about the same, even after the taxes</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The savings account will pay more because of commissions paid on the annuity.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. The annuity will pay more because of the tax deferral qualities it has</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The savings account will pay more because of the FDIC</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">107. An annuity which may be used to help fund retirement in a few years maintains a &#8220;separate account.&#8221; The owner purchases &#8220;accumulation units.&#8221; This is called a ______ annuity.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Qualified</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Flexible</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Fixed</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Variable</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">108. Which of the following is correct about a Third-Party Administrator?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. It is a person who works for a life agent and helps in the solicitation of health insurance</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. It is the department of an insurer that handles the payment of claims</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. It is an independent company that provides administrative services for company&#8217;s self-funded plans</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">109. Select the statement that best describes a Multiple Employer Trust:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. A group of small businesses that band together in order to qualify for group insurance benefits</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. An organization unifying employers to cooperatively cut medical costs through preventative medicine</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. A type of re-insurance company backing insurance issued to businesses</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. None of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">110. The master policy owner of a group insurance policy is responsible for paying the premiums, submitting information about the employees, forwarding the applications to the insurer and maintaining the policy.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. True</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">111. Which of the following provides statistical data relating to the probability of a disability occurring?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Mortality table</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Morbidity table</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Both A and B</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Neither A nor B</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">112. Frank is an eligible employee who wishes to participate in group insurance. To get this coverage without having to provide the insurer with evidence of insurability, Frank must:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Do nothing at all, he is automatically entitled by being an eligible employee</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Pay the annual premium for the first anniversary year</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Submit the files the doctor has on Frank&#8217;s past medical history along with certificates of insurance</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Enroll for insurance during the eligibility period</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">113. By law, a health insurance carrier selling policies in this state may reword the provisions in its contracts, assuming the new wording is no less favorable to insureds and beneficiaries than those found in the mandatory provisions.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. True</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">114. If the premium on an individual health insurance policy is paid annually, semi-annually, or quarterly what is the minimum grace period required?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. 10 days</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. 20 days</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. 30 or 31 days</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. None of the above</p>
	<p data-proctor-target="question" class="h5 p-2">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">115. The insurer can change the premium assuming it is changed for all insureds in a class. However, the company cannot refuse to renew the policy, or cancel it. This is a/an ______ policy.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Guaranteed renewable</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Cancelable</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Optionally renewable</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Non-cancelable</p>
	<p data-proctor-target="results" class="h4"></p>
	</div>
</div>