<style>

.scoreboard {
	position: fixed;
	background: lightgrey;
	border-radius: 15px;
	box-shadow: 0 0 1rem #ccffcc;
	color: white;
	top: 80px;
	right: 10px;
	z-index: 2;
	width: 12rem;
	height: 10rem;
	font-size: 3rem;
	display: flex;
	gap: 1rem;
}

.correct {
	color: palegreen;
}

.incorrect {
	color: red;
}

.results {
	display: flex;
	justify-content: center;
	flex: 1;
	font-size: 2rem;
	font-weight: bold;
}

p {
	width: 60rem;
	margin-left: 10rem;
}

</style>
<div data-controller="proctor" data-proctor-found-class="text-success h5" data-proctor-oops-class="text-danger">
	<div class="scoreboard">
		<ul>
			<li data-proctor-target="correct" class="correct"></li>
			<li data-proctor-target="incorrect" class="incorrect"></li>
		</ul>
		<div class="questions-left"></div>
	</div>
	<div>
	<p data-proctor-target="question" class="h5 p-2">1. Renewable term insurance can be best described as:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. A level death benefit with an increase in premium</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. A level death benefit with a decrease in premium</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. A decreasing death benefit with a level premium</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. An increasing death benefit with a level premium</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">2. How do rights of an irrevocable beneficiary differ from those of a revocable beneficiary?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. An irrevocable beneficiary may be changed by the policy owner without the beneficiary&#8217;s consent</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. An irrevocable beneficiary has a vested right that neither the policy owner nor his creditors can impair without the beneficiary&#8217;s consent</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. A revocable beneficiary can become the policy owner at any time by paying the premiums</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. An irrevocable beneficiary has the right to name a contingent beneficiary for the policy</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">3. What recourse does an insurer have if a violation of a material warranty on the part of the insured is discovered?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. A hearing by the Insurance Commissioner to determine the severity of the misrepresentation, and to determine an appropriate course of action</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. None, if the policy has been in force for over 12 months</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Rescission of the policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. A hearing by a court of law to determine an appropriate course of action an insurer may take</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">4. Which of the following describes an insurer who has enough financial resources only to provide for all its liabilities and for all reinsurance of all outstanding risks?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Guaranteed</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Insolvent   </p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Solvent</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Non-participating</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">5. All of the following statements about the election of a life insurance policy&#8217;s settlement options are true, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The election is made by the policy owner at the time the application is submitted</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. When no settlement option is chosen, the proceeds are automatically paid to the policy owner&#8217;s estate</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The policy owner may change the settlement option after it has been chosen</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The election may be made by the beneficiary if no settlement option is in force at the time of death of the insured.</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">6. What is the purpose of &#8220;key person&#8221; insurance?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. To provide health insurance benefits to key employees</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. To give a key employee the ability to purchase the business</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. To give retirement benefits to key employees</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. To cover decreased business earnings due to the death of a key employee</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">7. What would be the Insurance Commissioner&#8217;s most likely course of action if an applicant for an insurance license had a previous application for a professional license denied for cause by any licensing authority within five years of the date of the filing?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Deny the application probably after a hearing</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. As long as it was not insurance related, the application will be granted</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Approve only after a review by a panel of insurance professionals</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Deny the application without a hearing</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">8. An insured bought a $150,000 non-participating whole life policy many years ago. He is 100 years old today. He has never borrowed from the policy&#8217;s cash value and has faithfully made all payments when due. The policy&#8217;s cash value is</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. $150,000  </p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. $100,000</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. $0</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. $50,000</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">9. An intentional concealment entitles the injured party to which course of action?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. None, due to the fact that the concealment was unintentional</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. $250 fine to be paid to the injured party</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Possible imprisonment to the party who concealed the information</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Rescission of the contract</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">10. Loss retention is an effective risk management technique when all of the following conditions exist, except:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. The probability of loss is unknown</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The insured chooses to assume the losses involved</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The losses are highly predictable .</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The worst possible loss is not serious</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">11. When are parties to a contract required to communicate information solely based on personal judgment for a matter in question</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Only when asked</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Only when relevant</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Only when the policy terms require it</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Never</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">12. The guaranteed insurability option provides the ability to:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Waive premium payments in the event of disability</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Access a portion of the death benefit in the event of serious illness</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Double the amount of the death benefit in the event of accidental death</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Purchase additional insurance regardless of insurability</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">13. Which type of insurance guarantees the right to renew the policy each year, regardless of health, but at an increased premium?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Convertible term</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Level term</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Decreasing term</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Renewable term</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">14. What is required when an applicant reveals conditions that require more information?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Physical Examination</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Attending physician’s statement</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Investigative consumer report</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Agent’s report</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">15. RW and Associates is an agency which represents BLG Insurance Corporation. RW and Associates may leave the name BLG Insurance Corporation in its advertisements by clearly stating the relationship between the two businesses in any of the following ways, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. RW and Associates who represent BLG Insurance Corporation</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. RW and Associates underwriting for BLG Insurance Corporation</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. RW and Associates placing business through BLG Insurance Corporation</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. RW and Associates using the services of BLG Insurance Corporation</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">16. Which provision will pay a portion of the death benefit prior to the insured&#8217;s death due to a serious illness?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Waiver of premium</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Cost of living</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Accelerated death benefit     </p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Disability income</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">17. An individual with a low income and high insurance needs should buy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Whole life insurance</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Endowment insurance</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Universal life insurance</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Term insurance</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">18. An example of a third party administrator is:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. An agent&#8217;s supervisor who takes part of his commission</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. An employee who handles self-insurance claims</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. An employee who is responsible for evaluating for relative quality of competing group health and welfare benefits offered to his employer by insurers</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. An outside organization that processes claims for an employers’ self-funded plans</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">19. All of the following statements about contingent beneficiaries are true, except</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. They receive remaining payments to be made under a settlement agreement upon the primary beneficiary&#8217;s death</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. The contingent beneficiary shares death proceeds equally with the primary beneficiary</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. They receive the death proceeds if the primary beneficiary is deceased at the time of the insured&#8217;s death</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. More than one contingent beneficiary may be named</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">20. The payor rider on a juvenile life policy provides that if the payor dies or becomes disabled before the insured juvenile reaches the age specified on the policy</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. The insurer will make the payments until the insured juvenile reaches the specified age</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The insurer will lend money to keep the policy in force</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The insured&#8217;s estate will make the premium payments</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The insurer will make all of the policy payments</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">21. The insured is totally and permanently disabled. The insured&#8217;s policy continues in force without the payment of a premium because the policy contains a</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Grace period provision</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Reinstatement provision</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Guaranteed insurability provision</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Waiver of premium provision</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">22. All of the following statements about survivorship life insurance are true, except</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The policy face amounts are usually more than $1,000,000</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. The policy face amount is paid out only upon the death of the first insured to die</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. It offers premiums that are quite low compared to what is charged on separate policies</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. It is particularly well suited to meet the needs of estate taxes</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">23. If an insurer is not able to meet financial obligations when due, the insurer would be considered</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Insolvent     </p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Unauthorized</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Impaired</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Non-admitted</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">24. What does the Insurance Commissioner have the right to do if an agent lacks authority from an insurer named on a binder for coverage?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Fine the insurance company for non-compliance</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Suspend or revoke the license of the agent</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Authorize the agent with a certificate of convenience</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Request a certificate of authority be issued immediately</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">25. People commonly purchase an annuity to protect against the risk of</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Dying before their home mortgage is paid off</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Outliving their financial resources</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Becoming uninsurable</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Dying too soon</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">26. In the event of an accidental death, the principal sum in a disability policy will be paid</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Over the course of a set period</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. In one lump sum</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. On a sliding schedule</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. As a monthly indemnity</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">27. Which of the following statements about the HICAP program is false? HICAP</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Stands for Health Insurance Counseling Advocacy Program</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Serves people needing information about Medicare</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Does not sell or endorse any specific types of insurance</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Provides assistance for a fee based upon ability to pay</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">28. Why is having a large number of similar exposure units important to insurers?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The greater the number insured, the more premium is collected to offset fixed costs</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The insurer increases its market share with every insured</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The greater the number insured, the greater the amount of premiums collected to help cover losses</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. The greater the number insured, the more accurately the insurer can predict losses and set appropriate premiums</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">29. The insured, aged 65, owns a $100,000 non-participating whole life policy. The policy is paid-up as of today. When would the cash value reach $100,000?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Today</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Age 85</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Never</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Age 100</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">30. According to the CA Insurance Code, an insured&#8217;s policy must specify all of the following, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The risks insured against</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The property or life being insured</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. The financial rating of the insurer  </p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The policy period</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">31. Which of the following is a hazard?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. A large number of similar exposure units</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. A peril</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. A condition that might increase the likelihood of a loss occurring</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. A speculative risk</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">32. When a licensed agent submits a renewal application with applicable fee on or before the expiration date</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The agent will be able to operate if a receipt for payment is returned prior to the license expiration date.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. The agent will be able to operate for up to 60 days after the specified expiration date.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The agent will be able to operate if the agent goes in person to the insurance department to receive a temporary extension of the license</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The agent will be able to continue to operate after a 30 day extension to operate without receipt if requested and approved</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">33. Common life insurance policy riders include all of the following, except:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Extended term </p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Guaranteed insurability</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Accidental death</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Waiver of premium</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">34. Term insurance is typically characterized by</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Low premiums and high cash value</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. High premiums and high cash value</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. High premiums and no cash value</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Low premiums and no cash value</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">35. A $50,000 whole life policy with a cash value of $10,000 has been in force for 11 years. The policy owner is unable to continue the premium payments. Which of the following describes the reduced paid-up non-forfeiture option?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The policy owner begins to receive $200 monthly payments from the insurer that will continue for life</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The policy is surrendered and the policy owner is paid $10,000 by the insurer</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The cash value is used to purchase a $50,000 term policy that is paid-up for 10 years</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. The cash value is used to purchase a $20,000 paid-up policy</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">36. What would we call a representation which fails to correspond with its stipulations or assertions?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Fatal</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Fraud</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Frivolous</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">37. In the state of California:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Twisting is an approved practice</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Providing free insurance coverage in connection with the sale of services as an inducement for completing the transaction is not legal</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Life and health ratings may not be related to the age of the insured</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. A life solicitor&#8217;s license has the same licensing requirements as a life agent&#8217;s license</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">38. The adjustments that an insurer makes in a cash value account in a universal life policy each time a payment is made includes all of the following, except</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Subtract from mortality and general expense charges</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Add the current interest</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Subtract the policy surrender charges</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Add the current premium paid</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">39. The Employee Retirement Income Security Act of 1974 (ERISA) mandates requiring plan sponsor to provide participants with</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Plan descriptions and benefit statements  </p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Trust and solvency reports</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Reports of tax qualification fulfillment</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Annual financial statements</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">40. Which of the following requires a reporting company to respond to a consumer&#8217;s complaint that his file contains inaccurate information about them</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Unfair Practices Act</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. COBRA</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Fair Credit Reporting Act    </p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Medical Information Act</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">41. All of the following statements about social security disability benefits are true, except</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Benefits are based on the level of a worker&#8217;s earnings up to the time of the disability</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Benefits will continue only while the worker cannot work at all</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Benefits are designed to replace the entire amount of a worker&#8217;s earnings</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Workers must be totally and permanently disabled for at least five months to be eligible for benefits</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">42. Under social security, the definition of disability is the inability to engage in</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. An approved occupation</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Any substantial gainful activity</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. An activity with a given level of compensation</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The person&#8217;s chosen career</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">43. Which of the following is a true statement regarding the social security (OASDHI) program?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. The program provides only a minimum floor of income. Individuals are expected to supplement this with their own personal programs.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The actuarial value of each person&#8217;s contributions are closely related to the actuarial value of each person&#8217;s benefits</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. With only a few exceptions, this is a voluntary program</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The program is fully funded</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">44. What makes up the entire contract in a life insurance policy?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. The policy, and when attached, the application</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The policy, and any sales literature presented by the agent of the policy holder</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The policy, the application, and any verbal understandings</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The policy by itself, but never the application</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">45. Which of the following is a correct statement about life insurance policy types?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Group life insurance is offered only to employees who provide evidence of insurability</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. The initial premium for term insurance is lower than the initial premium for whole life insurance</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Limited payment whole life policies stay in effect only for as long as the premium is paid</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Universal life policies have a structured premium payment schedule that must be followed during the entire contract period</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">46. While an insurer is paying the premium for a life insurance policy under the waiver of premium rider</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The insurer is named as the primary beneficiary</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The cash value does not increase</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The dividend payments cease</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. The policy remains in full force in every respect</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">47. According to the CA Insurance Code, all insurers must maintain a department to investigate:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Possible abuses of rating laws</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Possible arson</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Possible fraudulent claims from insureds</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Possible abuses of fiduciary responsibilities</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">48. Long-term care policies can be sold in various ways. Which of the following is one of these ways?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. As part of an auto policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. As a part of a comprehensive homeowner umbrella policy</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. As part of a life insurance policy through the use of a rider/endorsement</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">49. The Health Insurance Counseling Advocacy Program (HICAP) provides assistance to the public on a fee basis if the person requiring assistance is financially able to pay.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. True</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">50. An agent advertising on the internet must include all of the following in the advertisement, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Agent’s license number</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Agent’s business address in the state</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Agent’s business telephone number</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Agent’s true and/or fictitious name</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">51. The Family Medical Leave Act (FMLA) covers all of the following except:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Expenses incurred due to travelling with a partner that has been transferred abroad</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The adoption of a child</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Caring for a disabled parent</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Personal medical needs</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">52. All of the following are classed by the Americans with Disabilities Act (ADA) as life activities except:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. running</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. walking</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. seeing</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. hearing</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">53. FMLA provides how many paid weeks for time off?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. 0 weeks</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. 2 weeks</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. 6 weeks</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. 12 weeks</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">54. &#8220;The seamless delivery of medical and indemnity benefits for both occupational and non-occupational injuries and illnesses&#8221; is the definition of:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Worker&#8217;s compensation</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. 24-hour coverage</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. All disability policies</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">55. In California after January 1, 2002, the definition of health insurance includes all of the following types of coverages, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Group medical coverage</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Accidental death and dismemberment coverage</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Individual hospital coverage</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Individual surgical benefits</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">56. Unintentional concealment entitles the injured party to which course of action?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Possible imprisonment to the party who concealed the information</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. $250 fine to be paid to the injured party</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. None, given the fact that the concealment was unintentional</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Rescission of the contract</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">57. When may a representation be withdrawn?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Only before the insurance is in effect</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. At any time as long as both parties agree</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. It can never be withdrawn</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Only after the policy is in effect</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">58. A significant benefit to the insured in group underwriting verses individual is:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. There are no enrollment restrictions</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Previous claims are not a consideration</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The cost of coverage is lower</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Members are eligible for the entire contract period</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">59. How long must a life agent maintain records regarding policies sold in this state?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. 1 year</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. 2 years</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. 3 years</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. 5 years</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">60. The purpose of laws regarding the replacement of life and annuity contracts includes all of the following, except:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. To protect the interests of life insurers and their agents</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. To establish penalties for failure to comply with replacement requirements</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. To assure the purchaser receives information to make an informed decision</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. To reduce the opportunity for misrepresentation and incomplete disclosures</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">65. All of the following would fall under the category of an &#8220;adverse underwriting decision,&#8221; except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Charging a higher rate based upon the information given on the insurance application.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Failure of the agent to submit the application to an insurance company</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Declination of insurance coverage</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Termination of insurance coverage</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">66. In order to obtain group insurance without providing evidence of insurability, what do eligible individuals generally have to do?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Submit an attending physician&#8217;s statement with their group enrollment cards</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Pay the first year premium in advance</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Nothing</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Enroll within a specified eligibility period</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">67. An agent who acts as an insurance agent, broker, solicitor, life agent, or bail agent, acts in which capacity when handling premiums or return premiums for an insured?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Natural person</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Fiduciary </p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Legal representative</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Managing general agent</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">68. In order to determine the amount of premium an insured will pay; the insurer multiplies the rate by:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The number of insureds on the policy</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. The number of exposure units     </p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The expense factor</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The premium adjustment factor</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">69. Viatical settlements are accomplished through the use of</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Non-forfeiture provisions</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Settlement options</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Collateral assignment</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer"> d. Absolute assignment</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">70. The conversion privilege allows a person to change coverage from:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. A life insurance policy to an annuity</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. A group policy to an individual policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. An individual policy to a group policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. An annuity to a life insurance policy</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">71. All of the following statements about qualified pension plans are true, except:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Employer contributions are taxable to employees in the year they are contributed</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Investment earnings are exempt from income tax until distributed</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Employer contributions are deductible from corporate income taxation</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Employer contributions are taxable to employees in the years they are received as benefits</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">72. Self-funding of employee benefit plans cannot be used for</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Short-term disability benefits</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Health benefits</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Death benefits</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Hospital benefits</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">73. The additional premium charged by an insurer for adding the accidental death benefit to a whole life policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Increases the yearly dividend amount</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Does not affect the policy&#8217;s cash value</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Increases the policy&#8217;s cash value</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Decreases the length of time that premiums are payable</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">74. What is the written instrument called in which the insurance contract is set forth?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The provisions</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The warrantees</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer"> c. The policy </p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The risk</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">75. Which non-forfeiture option uses cash surrender values to purchase paid-up term insurance for the full face amount of the policy?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Extended paid-up insurance</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Extended term insurance</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Reduceterm insurance</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Reduced paid-up insurance</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">76. What is the difference between a defined contribution plan and a defined benefit plan?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The party receiving the distribution</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The party making the contribution</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The contract period requiring specific payments</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. The penalties for early distribution</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">77. A life agent&#8217;s records must include all of the following, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. All correspondence between the agent and the policy holder</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Printed material in general use which has been distributed by the insurer</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. A copy of the outline of coverage</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. All policies sold by the agent</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">78. A worker dies while he is credited with six quarters of the last 13 quarter period. What status does the worker have under social security?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Partially insured</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Disability insured</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Currently insured</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Fully insured</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">79. A return premium rider is a rider that</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Returns insurance premiums if the insured surrenders the policy at any time after the third policy year</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Waives the policy premium while the insured is totally disabled</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Provides for the periodic return of a percentage of the premiums that have been paid if the insured becomes and remains disabled</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Permits the policy owner to receive a full refund of premium if the policy is returned during the first 90 days after delivery</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">80. An agent&#8217;s appointment with an insurer will be discontinued if all of the following circumstances exist, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The agent quits working for the insurer</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The insurer files a notice to terminate the appointment</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Another insurer submits an employment application</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The agent&#8217;s insurance license expires</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">81. Social Security provides protection against the financial consequences of all of the following, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Premature death</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Disability</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer"> c. Poor investments  </p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Retirement</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">82. Which retirement plan utilizes non-deductible contributions?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Simplified employee pension plan</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Roth IRAs</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Profit-sharing plan</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Tax-sheltered annuity</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">83. All of the occurrences listed below are examples of an insurable event as defined by the CA Insurance Code, except:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. An insured suffers a financial loss in the state lottery</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. A guest is injured by a fall from the insured&#8217;s deck</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. An insured is sued for unintentional slander of another person</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. An insured is admitted to the hospital for delivery of a newborn</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">84. The social security normal retirement age depends upon</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The number of quarters of coverage</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The number of years of employment</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. The worker&#8217;s year of birth</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The worker&#8217;s average annual earnings</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">85. The complete transfer by the existing owner of all rights in an insurance policy to another person is</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Absolute assignment </p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Endowment</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Collateral assignment</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Non-forfeiture</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">86. Which retirement plan was designed for employees of public school systems?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. TSA</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. IRA</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. 401(k)</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Keogh</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">87. Which settlement option allows only the death benefit earnings to be paid to the beneficiary</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Interest option    </p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Cash option</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Fixed period option</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Fixed amount option</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">88. In the absence of a coordination of benefits clause, all of the following circumstances might result in recovery of more than 100% of actual health care expenses, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. A worker&#8217;s medical plan includes a carryover deductible provision</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. A person working for two employers has health insurance through both</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Spouses are both employed and eligible for group medical benefits</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. An executive has additional coverage through an association policy</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">89. All of the following apply to the life insurance cost-of-living rider, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. There is an additional premium for the additional coverage</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. No evidence of insurability is required for the annual increases in coverage</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The insured receives an automatic increase in the policy&#8217;s death benefit when there is an increase in the cost of living index</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. The face value of the policy raises or lowers as the cost of living index increases or decreases</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">90. The social security blackout period ends when the surviving spouse reaches the age of</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. 55</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer"> b. 60 </p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. 62</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. 65</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">91. Retirement benefits under social security are available only for workers who are</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Medicare insured</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Currently insured</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Disability insured</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Fully insured</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">92. In which plans do employers make specific contributions to an employee&#8217;s retirement account?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Defined contribution plans   </p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Individual retirement accounts</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Defined benefit plans</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Keogh plans</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">93. In a 7 year vesting schedule, what percentage of employer contributions must be vested after 7 years of service?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. 40%</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. 60%</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. 80%</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer"> d. 100%</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">94. A representation in an insurance contract qualifies as which of the following?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. An express warranty</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. An implied warranty</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. An amendment</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. A policy provision</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">95. A policy holder stops making payments on a 20-pay life policy and converts the cash surrender value to extended term insurance. All of the following statements are true, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The extended term coverage will stay in force for a specified period of time, and then coverage will cease</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. No further premium payments are required</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. The term policy will have the same loan value as the original policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The extended term insurance will be for the same face amount as the 20-pay life policy</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">96. Identify which of the following is not a principal factor used to determine group disability income rates</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Average age of the insureds who make up the group</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Maximum indemnity period</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Length of the waiting/elimination period</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Location of the insured entity</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">97. Which non-forfeiture option uses an existing policy&#8217;s cash value to purchase a paid-up policy with a lower face value than the original policy?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Extended paid-up insurance option</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Reduced paid-up insurance option</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Cash surrender value option</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Extended term option</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">98. The temporary, partial transfer of the ownership rights of a policy is known as:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Collateral assignment</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Non-forfeiture option</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Absolute assignment</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Dividend option</p>
	<p data-proctor-target="results" class="h4"></p>
	</div>
</div>