<style>

.scoreboard {
	position: fixed;
	background: lightgrey;
	border-radius: 15px;
	box-shadow: 0 0 1rem #ccffcc;
	color: white;
	top: 80px;
	right: 10px;
	z-index: 2;
	width: 12rem;
	height: 10rem;
	font-size: 3rem;
	display: flex;
	gap: 1rem;
}

.correct {
	color: palegreen;
}

.incorrect {
	color: red;
}

.results {
	display: flex;
	justify-content: center;
	flex: 1;
	font-size: 2rem;
	font-weight: bold;
}

p {
	width: 60rem;
	margin-left: 10rem;
}

</style>
<div data-controller="proctor" data-proctor-found-class="text-success h5" data-proctor-oops-class="text-danger">
	<div class="scoreboard">
		<ul>
			<li data-proctor-target="correct" class="correct"></li>
			<li data-proctor-target="incorrect" class="incorrect"></li>
		</ul>
		<div class="questions-left"></div>
	</div>
	<div>
	<p data-proctor-target="question" class="h5 p-2">1. Marvin is involved in a serious car accident. No one is surprised because Marvin is known to drive too fast. Identify the hazard here.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Marvin owns a car</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) The bodily injury he sustained in the accident</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) Marvin drives too fast</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Medical payments paid by the insurer</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">2. In order to be considered an &#8220;ideally insurable risk,&#8221; must there be a possibility that a loss will occur?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a) Yes </p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) No</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">3. From the choices below, select the answer that best reflects the concept of indemnification:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) A promise is given by only one party, the insurer</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) If it is determined that a statement in the contract is ambiguous, courts will favor the policy owner</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Either of the parties to the contract can assume the other is not concealing facts</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d) The insured cannot get back any more than the loss they have experienced</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">4. Select the answer from below which best describes an insurance sales situation closely connected to the direct response marketing system:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Waiting by the phone to get calls from prospects with no effort being made to get these leads</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Seeing an old friend at the supermarket and hoping he will give you his personal life insurance business</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) Using a vending machine in an airport to purchase travel accident insurance</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">5. &#8220;Fiduciary Responsibility,&#8221; as it pertains to an insurance agent, is best defined as:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a) Prompt and timely forwarding of the insured&#8217;s premium payment to the home office</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Prompt and timely handling of a claim form</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Frequent reviews of an insured&#8217;s insurance coverage</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Assisting clients in the selection of policies</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">6. &#8220;Consideration,&#8221; as it applies to a life insurance contract, is defined as:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) $50.00 minimum</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) The &#8220;face value&#8221; on any contract anniversary date</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) What the insurance company gives your application during the underwriting process</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d) The premium payment</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">7. The insurance code/statutes provide which of the following:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Federal laws relative to the practice and principles of insurance</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) State laws relative to the practice and principles of insurance</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">8. Audrey forgot about a small health problem she had some years ago. A disability income policy is issued to her. A short time after policy issuance, she is in a serious car accident and not able to work for about 1 1/2 months. The insurance company will still pay the loss and not cancel the policy even though the small health problem is discovered just a day after the accident, since:</p>
	<p data-proctor-target="question" class="h5 p-2">1. The insurer would only cancel if these concealed facts were &#8220;material&#8221;.</p>
	<p data-proctor-target="question" class="h5 p-2">2. Those concealed facts were unintentional, therefore legal.</p>
	<p data-proctor-target="question" class="h5 p-2">3. Because canceling the policy would have to be done before the loss occurred.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) 1 &amp; 3</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) 1 only</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) 2 &amp; 3</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d) None of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">9. A &#8220;life agent&#8221; can work in all of the areas of insurance listed below, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Life and disability</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) All areas and classes (if authorized by an insurer)</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Fixed annuities</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">10. How does the California Life and Health Insurance Guarantee Association limit the total amount of benefits for the life insurance policies it protects?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a) On a per-life basis</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) On the total number of policies in effect only</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) There is no maximum on the guarantee</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">11. Mitch qualified for, and received his life agent license in 2002. He markets Long Term Care products. Does he have to complete 8 hours of LTC continuing education in addition to his normal 24 hours of continuing education?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Yes</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) No</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">12. The only circumstance, according to provisions of the code, by which a name can always be approved, is if it is a true corporate name.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) True</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">13. Which of the following documents must show the license number of an active life agent?</p>
	<p data-proctor-target="question" class="h5 p-2">1. Price quotes</p>
	<p data-proctor-target="question" class="h5 p-2">2. A magazine advertisement</p>
	<p data-proctor-target="question" class="h5 p-2">3. Business cards</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) 1 only</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) 3 only</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) None of the above</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d) All of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">14. Attempting to induce a policyholder to lapse, forfeit, or surrender existing insurance through the use of misleading representations or comparisons of insurers is the definition of:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Coercion</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Boycotting</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Rebating</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d) Twisting &#8211; a misdemeanor which could result in imprisonment of up to 1 year</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">15. Identify which of the following is not a deceptive act or practice, or unfair method of competition.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) An insured submits a claim, but it is not covered by his insurance policy. The agent doesn&#8217;t take the insured&#8217;s call, but instead, sends a letter to him explaining the reasons why the benefit is not payable</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) An agent tries to sell a prospect on three separate occasions. A second agent is able to sell the same prospect by convincing him to buy a more expensive, but better coverage policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) An agent tells an insured to submit a second proof of loss in order to allow more time for a payment to be made on a prior proof of loss that is taking several weeks to be processed</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">16. Protector Life establishes an agreement with Twilight Builders to provide an annuity without any separate charge (free) as an inducement to those who buy homes from Twilight. The Code has no requirement prohibiting this.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) True</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">17. Arnold is trying to improve his time efficiency. To accomplish this, he decides to answer objections only if they are brought up by the client at least twice. This is generally considered to be:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a) Unethical by most standards</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Ethical by most standards</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Ethics are not an issue in the scope of insurance</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">18. A sailor in the merchant marines has contacted you and expressed interest in life insurance. What important planning step will you take to determine this sailor&#8217;s needs in order to provide an appropriate policy?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Refer to mortality tables.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Review key employee insurance requirements</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Assess the current buy/sell needs<span style="color: #191919;"></span></p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d) Review the person&#8217;s overall financial goals</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">19. The period of time in which a housewife, who has survived the death of her husband, will not receive income benefits from Social Security is called the:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a) &#8220;Blackout period&#8221;</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Qualification period</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Elimination period</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) None of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">20. All of the following are examples of types of life insurance, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Term plans</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Ordinary plans</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) Surety plans (bonds)</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">21. From the following, select the correct choice(s) concerning a contributory group life program:</p>
	<p data-proctor-target="question" class="h5 p-2">1. 100% of eligible employees must participate</p>
	<p data-proctor-target="question" class="h5 p-2">2. 75% of eligible employees must participate</p>
	<p data-proctor-target="question" class="h5 p-2">3. 100% of premium paid by employee</p>
	<p data-proctor-target="question" class="h5 p-2">4. 75% of premium paid by employee</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) 1 &amp; 3</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) 2 &amp; 3</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) 1 only</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d) 2 only</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">22. All of the following are correct about disability income from Social Security, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) The disability is expected to last 12 months or end in death</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) Since the majority of employers provide private disability income insurance, social security disability costs are reduced</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) The insured is unable to acquire gainful employment</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">23. Regarding federal income taxes, which of the following is <b>false</b>?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) A company usually receives a deduction when paying for their employees&#8217; group plans.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Typically, premiums on individual policies are not deductible</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) Life insurance death benefits are not tax exempt</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">24. Tax laws have established the Modified Endowment Contract or &#8220;MECs.&#8221; Select the correct response:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) They reduce the premiums payable for high death benefit policies</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) They are actively used by the public, so they are recommended</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Taxing of their death benefit is not like a non-MEC</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d) Taxing their living benefit is not like a non-MEC</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">25. The applicant, the policyowner, and the insured of a life insurance policy may be:</p>
	<p data-proctor-target="question" class="h5 p-2">1. The same individual</p>
	<p data-proctor-target="question" class="h5 p-2">2. Three different individuals</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) 1 only</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) 2 only</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) 1 or 2</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">26. Applications for life insurance:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a) May not be modified by an agent for any reason without the applicant&#8217;s initials for the change.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Must be made a part of the contract only if cash values are a feature of the policy.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) A and B are false</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) A and B are true</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">27. Which entity or entities financially support(s) the non-profit Medical Information Bureau?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) The State of California</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) Insurance companies</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) The federal government</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) A network of medical practitioners</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">28a. In determining the rates to charge payers for life insurance premiums, a company will use:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Policy reserves, interest, expenses</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Mortality, interest, policy reserves</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Mortality, policy reserves, expenses</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d) Mortality, interest, expenses</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">28b. In determining the rates to charge payers for health insurance premiums, a company will use:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Policy reserves, interest, expenses</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Morbidity, interest, policy reserves</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Mortality, policy reserves, expenses</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d) Morbidity, interest, expenses</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">29. Compared to a yearly premium, a whole life insurance contract&#8217;s quarterly premium will be:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Less</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) The same</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) More </p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Whole life does not offer quarterly premiums</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">30. Which of the following statements about collecting an initial premium with the application is <b>incorrect</b>?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) It is not encouraged since it can lead to misunderstandings</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) It is encouraged since it creates commitment to the purchasing decision</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) It can provide immediate protection for the insured.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Both A &amp; C are incorrect</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">31. Which of the following does not necessarily lead to effective retention of policies by an agent?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a) High sales production</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Proper and timely service</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Effective communication with the client</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">32. Generally, E &amp; 0 coverage is issued in a standard form determined by state law.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) True</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">33. From the following, select the type of life insurance which could be best used to protect your customer&#8217;s heirs from a mortgage obligation should your customer die:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Level term insurance</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) Decreasing term</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Increasing term</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) None of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">34. Which of the following is a policy that can be considered &#8220;never paid up.&#8221;</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a) A term to age 65 policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) A life paid-up age 65 policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) An endowment age 65 policy</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">35. A type of life insurance policy, called a first-to-die policy, is very helpful in business situations, whereby a partner can purchase the interest of a deceased partner at death. This policy can also be used by a husband and wife by naming each other as beneficiaries. Select the <b>incorrect</b> statement about first-to-die plans from below.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Compared to buying two individual ordinary life insurance contracts, a first-to-die would be cheaper</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) They pay the full face amount on the death of the first insured to die</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) They pay a reduced amount upon the death of the last surviving insured</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">36. Index-linked life insurance plans have their benefit determined by an index which provides an indication of the effects of inflation on the purchasing power of the dollar. Which index is typically used to do this?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) The Seventh District Cost of Funds Index</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Table of Guaranteed Values</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Actuarial tables</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d) The Consumer Price Index</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">37. All of the following apply to variable life insurance except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Their funds are invested in equity investments like stocks</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) A guarantee is provided by the insurer for the performance of the fund</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) A securities license is needed for an agent to sell variable products to the public</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">38. A waiver of premium provision of a policy contains which of the following features?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) A linking to the CPI</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Is frequently referred to as living needs benefits</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Provides an income in the event of a disability</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d) Releases the owner from having to pay premiums in the event of a disability</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">39. From the choices below, identify the party able to exercise the right of borrowing from cash value:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) An irrevocable beneficiary</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) A designated officer of the insurer&#8217;s underwriting department</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) The insured (as named in the contract)</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d) The policy owner</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">40. The incontestable clause of a life insurance policy:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Says that if the insured dies after 2 years, misrepresentation, concealment or fraud may disallow the beneficiary from collecting the death benefit</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Says that the insurer is protected from liability from misrepresentation, concealment or fraud of an agent</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) Prevents the insurer from voiding the policy after 2 years on the grounds of misrepresentation, concealment or fraud of the insured</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Says the insurer can&#8217;t contest paying the claim if the premium is not paid</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">41. Unlike other financial instruments, life insurance cannot be transferred by an assignment since it has no monetary value; it is only an agreement.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) True</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">42. The Free Look provision of life insurance issued in California states that certain conditions exist in order for a policy to be delivered to the insured properly. Which of the following is not correct in determining good delivery?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) The policy was mailed with a signed delivery receipt</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) The policy was mailed certified</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) The policy was hand delivered personally, no receipt of delivery needed</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) None of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">43. Betty, the beneficiary of a life insurance policy, dies before the insured of the contract dies. In the state of California, when the insured eventually passes away, the death benefit goes to which of the following, if the policy is still in effect:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) The insured&#8217;s next of kin</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) The State of California</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Betty&#8217;s next of kin</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d) The insured&#8217;s estate</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">44. Which of the following is false about beneficiaries?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Minor children can be named as beneficiaries</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) Trusts are only documents, and therefore cannot be named as beneficiaries</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Corporations can be named as beneficiaries</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">45. What are the requirements of the insurer should the insured take their own life after only seven months after the inception of life policy?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) The full death benefit is payable</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) Only a return of premiums is necessary</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) A service charge is assessed the death benefit payable to the insured&#8217;s estate</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">46. The principal amount from a death benefit is held by the insurer upon the request of the beneficiary. Payments are made per a schedule and subject to a guaranteed rate of interest based on the amount of the benefit. The principal is withdrawn only on the request of the beneficiary. What is this type of settlement option referring to?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a) The interest only option</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) The variable option</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) The life income option</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">47. Cash surrender value, extended term insurance, reduced paid-up insurance. These are examples of:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Dividend options</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Settlement options</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) Nonforfeiture options</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">48. John has been paying into his whole life policy that has generated cash value for many years. He now wishes to take the cash value out before maturity and use it to effect a non-forfeiture option. The company is required to fulfill his request as per law.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a) True</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">49. An automatic premium loan, found only in cash value policies:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Will pay a premium that is due only one time; the loan must immediately then be paid off</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) Will pay a premium that is due by using the policy&#8217;s cash surrender value</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Is used to pay off consumer loans</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">50. Choose the correct statement from the selection below:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Dividend income is considered a taxable event</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) If a company overestimates what is needed to issue policies a dividend can result</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Dividends cannot be paid in cash by an insurer</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Law restricts the use of dividends to pay down premium payments</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">51. What occurs during the accumulation period of an annuity?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Payout of the benefits of the annuity</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Provides for a guarantee of mutual fund growth</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) Allows the annuity to build on a tax deferred basis</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Allows the annuity to build on a tax free basis</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">52. Select the type of annuity payment option that has the least amount of risk for the insurer, and therefore, pays the highest amount of income to the insured over time.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Life with 15 year certain</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Life with 30 year certain</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) Straight/pure life</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) None, the above do not apply to annuities</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">53. Which of the following would be the best client to purchase a variable annuity?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) A person who does not like the fluctuations of equity investments</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) A middle aged divorced housewife with a substantial portfolio, and $60,000 per year income</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) An older man searching for a guaranteed monthly income that will last for the rest of his life. He is on Social Security and has little savings</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">54. Non-tax deferred compensation plans are examples of qualified retirement programs.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) True</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">55. Phil works for a non-profit religious organization. He wishes to invest some of his income into a retirement program that will provide him with the most benefits. Can Phil qualify to open a Tax Sheltered Account?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a) Yes</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) No</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">56. IRA accounts have certain restrictions that apply to them for the purpose of discouraging participants from withdrawing money from them too soon. If a withdrawal is made before the age of 591/2 there can be a:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) 6% tax penalty (with certain conditions)</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Total cancellation of all prior tax deferral</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) There is no penalty on withdrawals before 59 1/2</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d) 10% penalty (with certain conditions)</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">57. Kim has purchased a new car. The salesman told Kim of a program that will make the loan payments if Kim were to become disabled as the result of sickness or injury. Kim would pay for the plan by having higher bank loan payments. Identify the form of insurance the salesman has described to her.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a) Credit health insurance<span style="color: #0000ff;"><strong> </strong></span></p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Long term care insurance</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Credit life insurance</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Travel accident insurance</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">58. An entity that provides the administrative services for employers, such as the documentation and recordkeeping for group insurance needs, is called:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) A self-funded plan</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) An administrative services only program</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) A third party administrator</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">59. Compared to life insurance, health insurance relies on the agent much more to provide field underwriting information.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) True</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">60. An application has been submitted to an insurer for health insurance. The insurer reviewing the information looks at, among other things, the applicant&#8217;s age, gender, job and general health. Is the population of the city where the applicant resides a factor?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Yes</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) No</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">61. Life insurers classify risks in different ways. Of the following, select the classification that would charge the highest premium:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Preferred</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Standard</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) Substandard</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">62a. Overall there are three main factors that are used to compute the premiums charged for health insurance. They are:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a) Morbidity, interest, expenses</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Mortality, interest, expenses</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Policy reserves, interest, expenses</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Morbidity, reserves, expenses</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">62b. Overall there are three main factors that are used to compute the premiums charged for life insurance. They are:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Morbidity, interest, expenses</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) Mortality, interest, expenses</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Policy reserves, interest, expenses</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Morbidity, reserves, expenses</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">63. Your customer pays her insurance premium for one year. On November 1 the policy has 2 months left to run. The portion of her premium payment for which the insurer has provided insurance coverage (the first 10 months) is called:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) The unearned premium</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) The earned premium</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Deferred compensation</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) The carryover period</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">64. A Guaranteed Insurability Option allows an insured to purchase more insurance in the future. There is no requirement to provide any proof they are insurable.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a) True</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">65. A Key Person Life insurance policy is used to insure the family member who contributes the highest amount of income to a family.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) True</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">66. Travel accident insurance may be purchased from any of the following except:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a) A professional life agent</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) A vending machine</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) An insurer representative</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) A travel agent</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">67. Certain principles, apply to the business of insurance. One of them is the concept of insurance issued as an &#8220;aleatory&#8221; contract. What does aleatory mean here?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) The contract must be adhered to if put in writing and signed by applicant</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Actions only have to be performed by one of the parties of a contract</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) Performance depends on an uncertain future event</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Oral contracts have no basis in a court of law</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">68. Within the scope of insurance contracts, what is &#8220;consideration?&#8221;</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) A replacement of lost income due to injury.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) A monthly payment is made by the insured</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) A death benefit paid by a life insurance company</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) The process of field underwriting</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">69. The &#8220;Conditions&#8221; portion of an insurance contract is best defined as:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Obligations of the contract owner only</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Obligations of the applicant only</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Obligations of both contract owner and applicant</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d) Obligations of both insurer and insured</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">70. Children born or adopted after a family policy is issued, have what effect on the policy:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) The child will have term insurance coverage under the same contract</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) There is an additional premium for the child</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) Both of the above are true</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Both of the above are false</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">71. Select the following statement that is correct regarding deposit term insurance:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) It is a type of annuity only sold through savings associations</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) It combines 5-year endowment with 5-year term insurance</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) It combines single premium endowment with 10-year renewable term insurance</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) None of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">72. If you were the beneficiary of a life insurance policy, and were receiving an income for a stated period of time, and then received a large lump sum, the insured probably had chosen a/an:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Family maintenance plan</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Family income plan</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) Answer a) or b)<span style="color: #191919;">       </span></p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Annuity</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">73. At what age does a &#8220;jumping juvenile&#8221; policy increase the benefit from $1,000 to $5,000?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) 15</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b)16</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) 18</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d) 21</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">74. Brad has a waiver of premium rider provision in his life insurance policy. Which of the following would be excluded from coverage?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) An injury one inflicts on oneself</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) An injury sustained as the result of a war</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) An injury incurred while robbing a bank</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d) All the above are true</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">75. The extra premium charged by an insurance company for a rider that benefits the insured, _____ build up in cash value.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Will</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) Will not</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Neither. Insurance companies cannot charge extra for riders</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">76. Guaranteed Renewable policies end after a certain age.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) True</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">77. Industrial life insurance contains a limit disallowing any one person from having more than a stated amount of insurance. What is the limit?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) $1,000</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) $5,000</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) $10,000</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) $15,000</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">78. What are the duties of a master policyowner?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Pay the premiums</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Own the contract</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Apply for the policy with the information supplied by the employees</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d) All the above apply</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">79. An annuity in which the underlying investment performance will cause a fluctuation in the value of the benefit is:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) A tax sheltered annuity</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) A variable annuity</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) A stock-company annuity</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Annuities cannot be invested in equity securities</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">80. Regarding the difference between mortality tables for annuities and life insurance, choose the correct statement from the following.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Annuitants and policy insureds live the same length of time</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) Policy insureds die sooner</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Annuitants die sooner</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">81. Who is protected by the incontestable clause of a life insurance policy?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) The agent</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) The insured</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) The insurer</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d) The beneficiary</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">82. Which of the following is true regarding an irrevocable beneficiary?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a) If the irrevocable beneficiary permits, the policy owner may borrow from the cash values</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) An irrevocable beneficiary may borrow from the cash value without the permission of the policy owner</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) A policy owner may remove an irrevocable beneficiary whenever she wishes</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) None of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">83. Which of the listed premium payment schedules would reflect the lowest overall premium?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a) Annual</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Quarterly</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Every six months</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Monthly</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">84. Which of the following is <b>not</b> characteristic of life insurance?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a) An incompetent adult may not enter into a contract</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) It creates an immediate estate</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) It does not have to be paid for at once</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) It may be based strictly on an oral agreement</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">85. Which of the following does Part A of Medicare <b>not</b> provide coverage for?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Skilled nursing</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Hospice care</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) Doctors services</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Home health care</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">86. When an annuity is considered to be a &#8220;flexible premium&#8221; annuity it means the premium payment amount is based on an underlying investment of securities affecting the amount that must be paid each month.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) True</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">87. Which of the following is <b>not</b> a factor in determining the premium for a life insurance contract?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a) The number of new policy owners expected in the next anniversary year</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Expense loading</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Interest</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Mortality</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">88. What is required of a policyholder to reinstate a policy that has lapsed coverage?</p>
	<p data-proctor-target="question" class="h5 p-2">1. Pay all past due premiums with interest</p>
	<p data-proctor-target="question" class="h5 p-2">2. Provide proof of insurability</p>
	<p data-proctor-target="question" class="h5 p-2">3. File an application for reinstatement</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) 1, 2</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) 2, 3</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) 1, 2, 3</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) None of the choices</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">89. A Non-Medical Application:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Relieves the applicant from having to submit to a physical</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Applies only to health insurance</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) May require an applicant to submit to a physical</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Non-medical Applications are disallowed in California by the code</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">90. If there is a violation of a material warranty or other provision of a policy on the part of either party, this entitles the other party:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a) To rescind the policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) To extend the policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) To renew the policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) All the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">91. If all the employees of a company elect to pay a part of their group health insurance premium, it is referred to as a:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Participating group policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Non-participating group policy</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) Contributory group policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Non-contributory group policy</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">92. Twisting is a form of a misrepresentation where a life agent:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Convinces an applicant to purchase more insurance that costs more</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Illegally describes how a mutual fund works</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Could be subject to a fine of no more less than $15,000</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d) Tries to induce a client to lapse, forfeit, or surrender a policy for another</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">93. If a policy is cancelled and the insurance company legally keeps the earned premium along with a penalty charged the premium payer it is called a:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Penalty cancellation</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Pro-rata cancellation</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) Short rate cancellation</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) None of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">94. Which of the following lines of insurance may an insurance agent <b>not</b> sell?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Health insurance</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Life insurance</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) Both</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">95. If an agent is not able to place business with an admitted carrier, the first alternative would be to contact Lloyds of London, since insuring with this insurer will not require going through a surplus lines broker.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) True</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">96. From the following, describe a natural person employed to aid an agent or broker in transacting insurance other than life insurance.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) An assistant</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) An insurance Commissioner</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) A life analyst</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d) A solicitor</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">97. An insurance producer may keep/retain commission funds commingled with trust account funds in order to advance premiums at a later time.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a) True</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">98. Without a hearing, the commissioner can suspend or revoke a license if:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) The license holder is a fit and proper person</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) The license holder has had an insurance license suspended or revoked for cause within the prior 5 year period</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Both (a) and (b)</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Neither (a) nor (b)</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">99. Provide the best description of the term &#8220;transact&#8221; as it appears in the California Insurance Code.</p>
	<p data-proctor-target="question" class="h5 p-2">1. Execution of a contract of insurance</p>
	<p data-proctor-target="question" class="h5 p-2">2. Negotiations leading up to a policy being issued</p>
	<p data-proctor-target="question" class="h5 p-2">3. Transaction of matters subsequent to the sale</p>
	<p data-proctor-target="question" class="h5 p-2">4. Solicitation of insurance to the public</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) 2, 3, 4</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) 1, 2, 3</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) 1, 2, 3, 4</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) None, &#8220;transact&#8221; is not defined in the code</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">100. Which of the following <b>is true</b> concerning an implied warranty?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) It has no application to insurance</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) It doesn&#8217;t have to be in writing</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) All warranties in insurance are implied warranties</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d) It is understood by all parties</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">101. From the following choices, select the one that best describes the concept of &#8220;concealment.&#8221;</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a) Not communicating that which a party knows and ought to communicate.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Not communicating that which is material and the other party knows</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Not communicating that which is not material and the other party does not know</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) All the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">102. When an insurer or employing Property and Casualty broker or agent files a notice of appointment for an original license on behalf of an applicant, that entity has made a declaration that such applicant is worthy of that license.</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a) True</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) False</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">103. &#8220;A contract whereby an individual deposits funds with a life insurance company, the individual defers taxes on the buildup of savings within the contract and the individual can choose to take money out in several ways upon retirement.&#8221; What does this describe?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Social Security</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) An annuity</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Life insurance</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) A bank certificate of deposit</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">104. Select the choice which best describes an insurance agent:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) A person who charges a fee for hourly consultations about personal life insurance</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) A person who, for compensation, on behalf of another person, transacts insurance on behalf of the insured</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c) A person who, for compensation, transacts insurance on behalf of the insurer</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) None of the above</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">105. A qualified person may hold both a Life and Disability and a Property and Casualty license. This is called a _____ license.</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Reciprocal license</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b) Concurrent license</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Broker license</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) None of the above</p>
	<p data-proctor-target="results" class="h4"></p>
	</div>
</div>
