<style>

.scoreboard {
	position: fixed;
	background: lightgrey;
	border-radius: 15px;
	box-shadow: 0 0 1rem #ccffcc;
	color: white;
	top: 80px;
	right: 10px;
	z-index: 2;
	width: 12rem;
	height: 10rem;
	font-size: 3rem;
	display: flex;
	gap: 1rem;
}

.correct {
	color: palegreen;
}

.incorrect {
	color: red;
}

.results {
	display: flex;
	justify-content: center;
	flex: 1;
	font-size: 2rem;
	font-weight: bold;
}

p {
	width: 60rem;
	margin-left: 10rem;
}

</style>
<div data-controller="proctor" data-proctor-found-class="text-success h5" data-proctor-oops-class="text-danger">
	<div class="scoreboard">
		<ul>
			<li data-proctor-target="correct" class="correct"></li>
			<li data-proctor-target="incorrect" class="incorrect"></li>
		</ul>
		<div class="questions-left"></div>
	</div>
	<div>
	<p data-proctor-target="question" class="h5 p-2">1. What is required when an applicant reveals conditions that require more information?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Physical examination</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Investigative consumer report</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Attending physician&#8217;s statement</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Agent&#8217;s report</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">2. Which risk classification carries the lowest premium?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Endowed</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Substandard</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Standard</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Preferred</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">3. Which statement best describes a life insurance policy dividend?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. It is somewhat larger in a non-participating whole life policy than in a comparable participating policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. It is the interest paid to the policy owner on the cash value of a permanent insurance policy</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. It is the distribution of excess of funds accumulated by the insurer on participating policies</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. It is a stockholders return on his investment in the company</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">4. If a person was in violation of Section 770 of the CA Insurance Code, what action would the insurance Commissioner most likely take if the violation dealt with loans on the security of real or personal property?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Require the violator to complete an approved ethics course before soliciting in the state of California again</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Issue a cease and desist order for a violation of more than one transaction</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Charge the violator with a felony with a six month maximum jail sentence per violation</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Issue a fine of $205,000 per violation</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">5. If no other method of payment is selected, which of the following is the automatic mode of settlement for life insurance policy proceeds?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Extended term insurance</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Life income</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Lump-sum settlement in cash</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Paid-up policy</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">6. The process whereby a mutual insurer becomes a stock company is called:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Reorganization</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Stock split</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Stock buyout</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Demutualization</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">7. Any situation that presents the possibility of a loss is known as:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. A covered loss</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. A loss exposure </p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Risk potential</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Consideration</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">8A. Which settlement option allows only the death benefit earnings to be paid to the beneficiary?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Cash option</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Interest option</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Fixed amount option</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Fixed period option</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">8B. The life insurance settlement options where the principal is never touched is known as:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Cash option</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer"> b. Interest option</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Fixed amount option</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Fixed period option</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">9. An agent acting as an insurance agent, broker, solicitor, life agent, or bail agent acts in which capacity when handling premiums or return premiums for an insured?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Legal representative</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Managing general agent</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Fiduciary</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Natural person</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">10. Which statement is true regarding participating in a group insurance plan?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. A minimum of 75% of eligible members is required for a non-contributory group health plan</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. A non-contributory group health plan must cover all eligible members</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. A contributory group health plan must cover all eligible members</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. A minimum participation of 50% of eligible members is required for a contributory group health plan</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">11. According to state law, what size print must be used for the licensee&#8217;s license number on all price quotes, business cards, and printed material?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. There are no requirements for the license no. to be printed on any printed material</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Larger print than any other printed information on the material</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. The same size print as the licensee&#8217;s phone number, fax number or address</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Small print at the bottom of the material</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">12. Social Security disability benefits are paid to persons expected to die or be disabled at least:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. 3 months</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. 6 months</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. 12 months </p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. 24 months</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">13. Which non-forfeiture option uses cash surrender values to purchase paid-up term insurance for the full face amount of the policy?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Extended paid-up insurance</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Extended term insurance</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Reduced term insurance</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Reduced paid-up insurance</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">14. According to Employee Retirement Income Security Act of 1974 (ERISA) fiduciary standards, benefit plans are operated for:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Plan sponsors and beneficiaries</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Plan sponsors and employees</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Plan participants and employees</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Plan participants and beneficiaries</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">15. Life insurance settlement options include all of the following, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Interest option</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Extended term option</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Fixed amount option</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Fixed period option</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">16. A life insurance application is important for all of the following reasons, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Statements made in the application are required to be true to the best of the applicant&#8217;s knowledge</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. The beneficiary must sign the application before the insurer will issue the policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The application contains essential information about the applicant</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The application becomes a part of the policy, if a copy is attached</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">17. The price of insurance for each exposure unit is called the:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Premium</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Rate</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Adjustment factor</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Package price</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">18. Yearly probabilities of death are shown in:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Mortality tables</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Policy illustrations</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Morbidity tables</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Policy summaries</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">19. Members of the Medical Information Bureau are required to report:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The names of all patients treated by member physicians</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The cause of death when death benefits are paid</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Medical impairments found during the underwriting process</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Amounts of insurance applied for by all applicants</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">20. When referring to an insurance contract, when must a representation be made?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Either at the time of or after policy issuance</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Only after a policy is issued</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Only before a policy is issued</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Either at the time of or before policy issuance</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">21. Frank and Ernest are 25 year old identical twins. They are both in excellent health. Both buy life policies that have $500 annual premiums. Frank buys a 5-year renewable term policy. Ernest buys a whole life policy. Which statement is not true?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Ernest&#8217;s whole life policy will have a larger death benefit if he dies during the first 5 years</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Frank has the option of using his cash value to purchase a reduced amount of paid-up whole life insurance</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Ernest&#8217;s whole life policy will develop a larger cash value</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Ernest&#8217;s whole life premium will remain the same. Frank&#8217;s premium will increase every 5 years.</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">22. The request for an attending physician&#8217;s report must be accompanied by a copy of the:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Policy illustration</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Underwriting criteria</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Signed application</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Signed authorization</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">23. Which life insurance classification carries the highest premium?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Substandard</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Standard</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Endowed</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Preferred</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">24. A group insurance plan is contributory when the:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. 3rd party administrator collects part of the premium</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Employer pays all of the premium</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Employee pays part of the premium</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Service provider collects part of the premium</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">25. Whose benefits are affected by the blackout period?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The surviving children</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The disabled worker</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. The surviving spouse</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The fully insured worker</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">26. Which of the following is not an option for the use of the policy dividends?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Fund the addition of monthly income payments</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Purchase a one-year term addition</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Purchase paid-up additions</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Reduce the current premium</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">27. Who are members of the Medical Information Bureau?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Life insurance companies</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Hospitals</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Physicians</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Health insurance companies</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">28. Which of the following functions is best defined as an insurance company&#8217;s identifying and selling to potential customers?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Rate making</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Underwriting</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Claims handling</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Marketing</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">29. What is it called when an insurer uses higher rates based solely on religion, race, or ethnic group?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Categorizing</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Social injustice</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Unfair discrimination</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Redlining</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">30. A policy owner has the right to change all of the following, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The beneficiary</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. The dividend schedule</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The payment mode</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The dividend option</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">31. When must insurance records for insurance agents and insurance brokers be made available to the insurance Commissioner?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. One month after policy issuance</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. At all times</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Within 30 days of a written request by the Commissioner</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Annually, and submitted with the proper paperwork</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">32. In a reinsurance agreement, the insurance company that transfers its loss exposure to another insurer is called:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Primary insurer</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Captive insurer</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Reinsurer</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Secondary insurer</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">33. Which type of insurance policy provides a death benefit that matches the projected outstanding debt on an individual&#8217;s home?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Family protection</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Mortgage protection</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Level term</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Joint life</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">34. What do we call the process whereby insurer&#8217;s decide which customers to insure, and what coverage to offer?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Underwriting</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Rate making</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Marketing</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Adverse selection</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">35. Which of the following is the best definition of premium?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. The amount the insured pays per unit of coverage</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Money the insured pays the insurer to obtain the benefits in the policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Money the insurer pays the insured to obtain the benefits in the policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Bonus paid by an agent to convince an insured to buy a policy</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">36. If an insurer pays an insured $25,000 in lost wages, $45,000 for physicians visits and hospital costs, and $15,000 for physical therapy treatments, and later discovers that the claim was fraudulent, the insured may be fined as much as:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. $25,000</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. $60,000</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. $85,000</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. $170,000</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">37. What rule is used to determine the importance of a representation?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. The materiality of concealment</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The insurable interest standard</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. That of aleatory contracts</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The law of adhesion</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">38. An agent must submit all of the following to the insurer, except:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. A copy of all printed communications used for the presentation</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. A copy of the signed replacement notice, if replacement is involved</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. A statement signed by the applicant as to whether replacement of existing life insurance is involved in the transaction</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. A signed statement as to whether or not the agent knows a replacement is involved in the transaction</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">39. What is the difference between a conditional premium receipt and a binding premium receipt?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The applicant must be insurable in order to have coverage only under the binding receipt</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Only a conditional receipt always provides insurance that is effective from the date the receipt is given</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Only a binding receipt always provides insurance that is effective from the date the receipt is given</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Premiums must be paid to receive only a conditional receipt</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">40. After a life insurance policy has been in effect for two years, what prevents it from being rescinded by the insurer?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. The incontestability clause</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The grace period provision</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The reinstatement clause</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The right to return provision</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">41. The initial requirements for, a licensed agent to sell long term care insurance includes training in all of the following areas, except:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Financial planning</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Available long term care services and facilities</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. California regulations</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Alternatives to the purchase of long term care insurance</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">42. An agent advertising on the internet must include all of the following in the advertisement, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The agents license number</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The agent’s business address in the state</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. The agent’s business telephone number</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The agent’s true and/or fictitious</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">43. The Family Medical Leave Act covers all of the following, except:</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Expenses incurred due to travelling with a partner that has been transferred</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. The adoption of a child</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Caring for a disabled parent</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Personal medical needs</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">44. The Family Medical Leave Act provides how many paid weeks per year?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. 0</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. 4</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. 8</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. 12</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">45. All of the following are classed by the Americans with Disabilities Act (ADA) as life activities except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Seeing</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Running</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Walking</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Hearing</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">46. When a corporation uses life insurance to purchase shares through a buy-sell agreement, which is true regarding the federal income tax treatment of the transaction?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Death benefits used to cross-purchase shares are taxable to the insured shareholder’s estate if the shareholder had any incidents of ownership in the insurance</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. The purchase is treated as a nonregarded loss or gain if the shares are composed of common stock</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The purchaser’s total bases of shares will increase as a result of the transaction</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Premiums are deductible if the cross-purchase transfer falls under an exemption under the transfer –for-value rule</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">47. Which of the following is a feature of a regular IRA?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Deductible contributions and taxable distributions</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Deductible contributions and tax-free distributions</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Non-deductible contributions and tax-free distributions</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Non-deductible contributions and taxable distributions</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">48. Which of the following is a feature of a Roth IRA?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Deductible contributions and taxable distributions</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Deductible contributions and tax-free distributions</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Non-deductible contributions and tax-free distributions</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Non-deductible contributions and taxable distributions</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">49. Which of the following is correctly listed from lowest to highest initial premium?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Single premium, modified premium, continuous premium</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Modified premium, continuous premium, single premium</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Single premium, continuous premium, modified premium</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Continuous premium, modified premium, single premium</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">50. Which of the following is correctly listed from highest to lowest initial premium?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Single premium, modified premium, continuous premium</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Modified premium, continuous premium, single premium</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Single premium, continuous premium, modified premium</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Continuous premium, modified premium, single premium</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">51. Which plan pays on the death of the first insured?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Joint Life</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Survivorship Life</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Family Policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Limited Payment Whole Life</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">52. Which plan pays on the death of the second insured?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Joint Life</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Survivorship Life</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Family Policy</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Limited Payment Whole Life</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">53. Currently insured status under Social Security is achieved in which of the following ways:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Accumulated 13 out of the last 20 quarters (sometimes called credits)</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Accumulated 40 quarters</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Accumulated 6 of the last 13 quarters</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Accumulated 20 out of the last 40 quarters</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">54. Fully insured status under Social Security is achieved in which of the following ways:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Accumulated 13 out of the last 20 quarters (sometimes called credits)</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Accumulated 40 quarters</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Accumulated 6 of the last 13 quarters</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Accumulated 20 out of the last 40 quarters</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">55. What maximum time period does the insurer have to pay life insurance claims after adequate proof of loss has been received?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. 15 days</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. 20 days</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. 30 days</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. 45 days</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">56. A premium loan will automatically be made:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. At the beginning of the grace period</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. At the end of the free-look period</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. On a premium due date</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. At the end of the grace period</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">57. Which is not a qualified plan?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Tax-Sheltered Annuity</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Deferred Compensation</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Keogh Plan (HR-10)</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Profit Sharing Plan</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">58. The type of Universal Life plan where the purely fixed interest rate of the cash value is replaced by one allowing the insured to choose from a variety of investment vehicles is which of the following?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Variable Life</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Variable Annuity</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Adjustable Life</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Flexible Premium Variable Life (Variable Universal Life)</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">59. At what age can a widow with adult children that have left home claim Social Security survivors benefits?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. 65</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. 62</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. 60</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. 55</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">60. If during the free-look period, a person surrenders a variable annuity invested in mutual funds, they will receive which of the following?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. Account value</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Premium</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Account value minus a surrender charge</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Premium plus an administrative charge</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">61. If during the free-look period, a person surrenders a variable annuity invested in the money market account, they will receive which of the following?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Account value</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Premium</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Account value minus a surrender charge</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Premium plus an administrative charge</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">62. A person who is age 40 but who has claimed that they are age 35 on a life insurance application form is given a premium rate of $8/$1,000 instead of 10/$1,000.  The insurer can adjust the death benefit using which formula?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. 8/10 x the face amount</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. 35/40 x the face amount</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. 8/35 x the face amount</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. 10/40 x the face amount</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">63. Which of the following as used in the insurance code implies mandatory:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Oath</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Express</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Shall</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. May</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">64. Which of the following as used in the insurance code implies permissive:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Oath</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Express</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Shall</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. May</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">65. Insurance is defined as a:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Peril</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Risk</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Contract</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Chance</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">66. The Pregnancy Discrimination Act has which of the following effects?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Pregnancy can be excluded from coverage</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Pregnancy must be covered but with lower benefits that other conditions</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The employer must provide at 4 weeks of paid leave, with health benefits, after delivery</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. Pregnancy must be treated the same as any other condition</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">67. The Family Medical Leave Act (FMLA) provides for what minimum amount of unpaid leave?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. 2 weeks</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. 6 weeks</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. 8 weeks</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">d. 12 weeks</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">68. The Family Medical Leave Act (FMLA) provides for what minimum amount of paid leave?</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">a. 0 weeks</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. 6 weeks</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. 8 weeks</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. 12 weeks</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">69. The term which describes a participant’s absolute ownership over retirement plan monies is:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Conversion</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Vested</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Rollover</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Funded</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">70. What is one difference between group life and individual life plans?</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Group life is more expensive than individual life</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. Group life may be experience rated</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. Group life insureds are individually underwritten</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Group life sponsors receive certificates of insurance</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">71. An insurer advertising Term to Age 55 on television must disclose:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. That not all will be eligible for coverage</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">b. That policy (or certificates) benefits and limitations should be carefully examined prior to purchase</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">c. The out-of-state address of the insurer</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The insurer’s business telephone number</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">72. Qualifications for Social Security is based upon:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. The number of years worked</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Age</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. The number of quarters (credits) worked</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. The amount paid in Social Security taxes</p>
	<p style="text-align: center;">&#8212;</p>
	<p data-proctor-target="question" class="h5 p-2">73. Transaction of insurance includes all of the following, except:</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">a. Matters subsequent to the sale of insurance and arising out of it</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">b. Solicitation: e.g. recommending a particular policy or benefit to the client</p>
	<p data-proctor-target="answer" data-action="click->proctor#answer">c. Stuffing envelopes with sales material on behalf of an agent</p>
	<p data-proctor-target="wrong" data-action="click->proctor#wrong">d. Negotiation: e.g. discussing premiums and coverage levels with the client</p>
	<p data-proctor-target="results" class="h4"></p>
	</div>
</div>
