<style>
 .scoreboard {
    position: fixed;
    background: lightgrey;
    border-radius: 15px;
    box-shadow: 0 0 1rem #ccffcc;
    color: white;
    top: 80px;
    right: 10px;
    z-index: 2;
    width: 12rem;
    height: 10rem;
    font-size: 3rem;
    display: flex;
    gap: 1rem;
}

.correct {
    color: palegreen;
}

.incorrect {
    color: red;
}

.results {
    display: flex;
    justify-content: center;
    flex: 1;
    font-size: 2rem;
    font-weight: bold;
}
p {
	width: 60rem;
	margin-left: 10rem;
}

</style>
<div data-controller="proctor" data-proctor-found-class="text-success h5" data-proctor-oops-class="text-danger">
	<div class="scoreboard">
		<ul>
			<li data-proctor-target="correct" class="correct"></li>
			<li data-proctor-target="incorrect" class="incorrect"></li>
		</ul>
		<div class="questions-left"></div>
	</div>
	<div>
		<p data-proctor-target="question" class="h5 p-2">1. How would a pure risk best be described?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Winning at the poker tables in Las Vegas</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Experiencing a loss in the stock market</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) Losing some pay from work because of an injury</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) The fluctuations of international currency</p>

		<p data-proctor-target="question" class="h5 p-2">2. Insurable interest in a life insurance policy:</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) Does not need to exist at the time of loss, only at the time the policy is written</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Must exist only at the time of a loss</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Throughout the entire life of the policy</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Must exist at the time of application and at the time of the loss</p>

		<p data-proctor-target="question" class="h5 p-2">3. The Maple Insurance Company has only the Milehigh Manufacturing account for disability income insurance for all of Milehigh&#8217;s employees. A high concentration of these insureds is in one location. Oak Grove Insurance Company previously had the account along with many other large manufacturing companies around the country. Choose from below the correct statement(s) regarding the &#8220;law of large numbers&#8221; as it relates to these two insurers:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">1. Oak Grove can use the law of large numbers better than Maple</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">2. Catastrophic loss exposure was the same for both insurers</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">3. The more employees are insured, the better a company can predict the injury of any one employee</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) 1 and 3</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) 2 and 3</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) 1 only </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) All of the above</p>

		<p data-proctor-target="question" class="h5 p-2">4. Non-participating policies:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Use their dividends for purchasing other products</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Cannot be whole life insurance</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Are tied to the Consumer Price Index</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">d) Will not pay a dividend</p>

		<p data-proctor-target="question" class="h5 p-2">5. Raymond, an agent who represents the Sterling Insurance Company advertises in the yellow pages: </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">STERLING INSURANCE CO. </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">Raymond Insurance Agency</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">Raymond no longer has a contract to sell for Sterling but since Sterling has such a good name he decides to let the ad run again. This would be considered:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Creative marketing and an encouraged practice</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Twisting</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Express authority</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">d) Apparent authority</p>

		<p data-proctor-target="question" class="h5 p-2">6. Insurance firms and their agents have to identify question"s that are asked of the applicants for insurance that are (partly) used for marketing research as long as they are specified for underwriting purposes. This is per the California Insurance Code.</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) True</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) False</p>

		<p data-proctor-target="question" class="h5 p-2">7. If a court were to decide your insurance policy was written in an ambiguous or unclear fashion the special characteristic of an insurance policy that will prompt the court to rule in your favor is:</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) Adhesion</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Unilateral</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Negligence</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Aleatory</p>

		<p data-proctor-target="question" class="h5 p-2">8. Among other powers, the California Insurance Commissioner has the responsibility and authority to redraft parts of the Code whenever he/she sees fit.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Yes if it is in the public’s best interest</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Yes after an investigation and it is deemed against the public’s best interest</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) No, only the legislature may pass changes to the insurance code</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) No, unless it’s in the public’s best interest</p>

		<p data-proctor-target="question" class="h5 p-2">9. Which of the following is <b>correct</b> about a representation provided by either the insurance company or applicant in negotiations for an insurance policy?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">1. Could not be a misrepresentation if it was provided orally and not written</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">2. May be altered</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">3. May be withdrawn</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">4. Only the insurer is allowed to rescind if a representation involves a material point</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) 1, 2, and 3</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) 1 and 4 </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) 2 and 3</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) none of the above</p>

		<p data-proctor-target="question" class="h5 p-2">10. As defined by the Insurance Code, &#8220;transacting&#8221; insurance means:</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) The negotiations leading up to the final execution of a policy</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Taking your family on a Hawaiian vacation paid for by the commissions earned on a large life insurance sale</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Putting a list of prospects together</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) All of the above</p>

		<p data-proctor-target="question" class="h5 p-2">11. In order to obtain the license of a life and disability insurance analyst, an individual is required to have which of the following?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) A good business reputation</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) A thorough knowledge of life, health, and disability insurance</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Must be a fit and proper person</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">d) All of the above are required</p>

		<p data-proctor-target="question" class="h5 p-2">12. When can an application for a life agents license be denied without a hearing?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) The applicant has had no prior insurance experience</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) The applicant has been charged with a felony</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) The applicant has had an application for a license denied previously within the past 5 years for cause</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) All of these are grounds for denial without hearing</p>

		<p data-proctor-target="question" class="h5 p-2">13. When does the license of a life agent become inactive?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) When the agent is not transacting with the general public</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) When the agent is not currently appointed by an insurer, but renewal fees are paid and continuing education requirements have been met</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) When the license passes its renewal date</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) When the appointment agreement time period expires</p>

		<p data-proctor-target="question" class="h5 p-2">14. Any agency name used by life producers who have earned the CLU designation are automatically approved by the Department in recognition of this special title.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) True   </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) False</p>

		<p data-proctor-target="question" class="h5 p-2">15. Life insurers are required to maintain records on policies they have sold. How long from the date of delivery must these records be kept?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) 6 months</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) 1 year </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) 3 years</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">d) 5 years</p>

		<p data-proctor-target="question" class="h5 p-2">16. A licensed life agent tells a prospect he is guaranteed the amount he will get in dividends. Being convicted of this misdemeanor could result in going to jail for 30 days.</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) True </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) False</p>

		<p data-proctor-target="question" class="h5 p-2">17. The Unfair Practices Act allows:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Associations to recommend to their members to not sell products for companies that may sell insurance direct to the public</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Tell people who have filed claims not to engage attorneys</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) Having different life policy and annuity premiums for men and women based on gender specific mortality table information</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) All the above</p>

		<p data-proctor-target="question" class="h5 p-2">18. Which of the following is/are true?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Staying educated on insurance issues can help one act more ethically</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Increased sales volume does not necessarily mean an agent is acting more ethically</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) Both of the above are correct</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Both of the above are incorrect</p>

		<p data-proctor-target="question" class="h5 p-2">19. Insurers are <b>not</b> allowed to refuse insurance, charge a higher rate, or limit coverage on a person who has a physical handicap if these limitations, restrictions, or ratings are based on sound actuarial statistics or are related to reasonable anticipated experience.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) True   </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) False</p>

		<p data-proctor-target="question" class="h5 p-2">20. Select from below the potential costs related with a person&#8217;s death:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Paying off a new car</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Medical payments</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) Both of the above </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Neither of the above</p>

		<p data-proctor-target="question" class="h5 p-2">21. Choose the correct statement:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Death occurring without a will is called dying interstate</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Annuities create an immediate estate</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) Life insurance creates an immediate estate</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Life insurance is designed to liquidate an estate</p>

		<p data-proctor-target="question" class="h5 p-2">22. There are many unique features in life policies written for groups. They typically don&#8217;t require evidence of insurability, don&#8217;t focus on individual selection, and spread their risk among a large number of people, thus avoiding adverse selection. Since the groups can be quite large, does the insurer become too busy processing applications to do a good job of underwriting?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Yes     </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) No</p>

		<p data-proctor-target="question" class="h5 p-2">23. From the choices below select the one which is <b>false</b> about Social Security (OASDHI):</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) The program is considered &#8220;fully funded&#8221;</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) The benefits received are not closely related to the contributions made, actuarially speaking</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) It will likely need to be supplemented by the individual participant since it was designed only to provide a minimum floor of income</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) It is, for the most part, a compulsory system</p>

		<p data-proctor-target="question" class="h5 p-2">24a. A very serious accident occurs while on vacation rendering a 47-year-old warehouse manager completely disabled. He is not expected to recover from his total paralysis. Select the program(s) below which would most likely entitle him to disability income benefits.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Medicare</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Medi-Cal</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) Social Security</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Workers Compensation</p>

		<p data-proctor-target="question" class="h5 p-2">24b. A very serious accident occurs while working rendering a 47-year-old warehouse manager completely disabled. He is not expected to recover from his total paralysis. Select the program(s) below which would most likely entitle him to disability income benefits.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Medicare</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Medi-Cal</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Social Security </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">d) Workers Compensation</p>

		<p data-proctor-target="question" class="h5 p-2">25. An &#8220;exclusion ratio&#8221; applies to payouts of annuities. An annuity purchaser who contributes $100,000 of premium after tax, is expected to live for 10 years and will receive $20,000 per year for a total of $200,000. In each of the first 10 years his taxable amount will be:</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) $10,000</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) $20,000 </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) $0 </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) $5,000</p>

		<p data-proctor-target="question" class="h5 p-2">26. How do tax laws treat the premature distribution of Modified Endowment Contracts?</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) Like IRA accounts</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Like a regular life insurance policy</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Tax laws do not affect MECs</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) There are no tax issues with a premature distribution of a MEC</p>

		<p data-proctor-target="question" class="h5 p-2">27. Applicant forms used for life insurance:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Express facts about the person applying</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Are required to be submitted to begin the process of acquiring the life plan</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Represent a request to an insurer to provide an insurance contract based on the information contained in the application </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">d) All the above are correct</p>

		<p data-proctor-target="question" class="h5 p-2">28. Which of the following are elements of &#8220;non-medical&#8221; applications?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">1. No medical exam is needed regardless of the insurer&#8217;s underwriting standards.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">2. Answers to application question"s could trigger a requirement to have a physical exam performed.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">3. A medical exam may not be needed.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) 1 &amp;2 </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) 2 &amp; 3</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) 1 &amp;3 </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) All are correct</p>

		<p data-proctor-target="question" class="h5 p-2">29. Which of the below often acts as a &#8220;field underwriter?&#8221;</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) The claims department</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) A person being interview by the insurance company for a large policy application</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) The agent</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) The actuarial department</p>

		<p data-proctor-target="question" class="h5 p-2">30. A schedule illustrating the probabilities of death each year for life insurance is called:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) A morbidity table </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) A premium table</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) An annuity table</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">d) A mortality table</p>

		<p data-proctor-target="question" class="h5 p-2">31. John pays the premium for a $200,000 life insurance policy, and is issued a binding receipt. John dies in an accident the next day. In the course of underwriting, the company determines John was not insurable by their guidelines at the time the binding receipt was issued. What must the insurer do?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Nothing, they are not liable to pay the death benefit</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Pay a percentage prescribed by the California Insurance Code</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Return only the initial premium</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">d) Pay the claim in full</p>

		<p data-proctor-target="question" class="h5 p-2">32. The replacement of life insurance and annuity contracts requires which of the following:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) A statement to the effect that the policy being applied for is replacing a prior one</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) That laws apply alike for group or individual plans</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) A disclosure by the applicant that they own other policies</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">d) All the above</p>

		<p data-proctor-target="question" class="h5 p-2">33. The professional liability insurance that an agent should purchase is known as Errors and Omissions coverage. Which of the following statements concerning this type of insurance is correct?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) It would have a relatively low deductible of $100 or $250</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) It would cover the dishonest omission of an agent or broker</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) It would cover an agent who created a financial loss by forgetting to renew a policy &#8211; a negligent act</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) None of the above</p>

		<p data-proctor-target="question" class="h5 p-2">34. If Bill were to expose the insurer to an increased risk on his life insurance policy because he has taken up sky diving, can the policy be non-renewed for cause or the premiums raised?</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) Yes, if it is a non-renewable contract</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) No, only renewable contracts can be issued</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) No, renewable and non-renewable apply only to health insurance</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) No, because it’s an aleatoric contract</p>

		<p data-proctor-target="question" class="h5 p-2">35. Clark, a 25-year-old, would like to buy $50,000 of life insurance protection. He wants to select the policy with the lowest premium among the following plans. What would you suggest he buy?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) A 20-pay life policy</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) A life paid-up age 65 policy</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) An endowment age 65 policy</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) A 20-year endowment policy</p>

		<p data-proctor-target="question" class="h5 p-2">36. A policy is issued to a 32-year-old that has a face amount of $100,000. When the insured reaches the age of 55, the policy has built up $100,000 of cash value. Choose from the selections below the type of policy this most likely describes:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) A 20-pay life insurance policy</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) A life paid-up at age 55 policy</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) A term to age 55 policy</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">d) An endowment at age 55 policy</p>

		<p data-proctor-target="question" class="h5 p-2">37. A policy that makes funds available to pay off a mortgage, and is structured so that the face amount follows the debt amount closely, is often called a decreasing term policy.</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) True   </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) False</p>

		<p data-proctor-target="question" class="h5 p-2">38. Universal life insurance contains which of the features listed below:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">1. Flexible premium</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">2. Fixed premium</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">3. Fixed rate of interest</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">4. Current rate of interest</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) 1 &amp; 4 </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) 2 &amp; 3 </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) all the above </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) none of the above</p>

		<p data-proctor-target="question" class="h5 p-2">39. Select the <b>incorrect</b> choice regarding variable life contracts:</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) They always offset inflation</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) The value of the investment with the policy could conceivably fall to zero</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) They often contain mutual funds as their investment</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) The contract owner chooses the investments in the contract</p>

		<p data-proctor-target="question" class="h5 p-2">40. When using the <b>guaranteed insurability rider</b> on a contract, an agent can state that the policy owner is allowed to purchase more insurance:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">1. Only on dependents</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">2. On their own life</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">3. Anytime in the future</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">4. On certain dates or ages</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">5. With insurability requirements</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">6. Without insurability requirements</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) 1, 4, &amp; 6 </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) 2, 3, and 5  </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) 2, 4, and 6</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) 2, 4, and 5</p>

		<p data-proctor-target="question" class="h5 p-2">41. Under certain conditions, a life insurance policy owner may reinstate a lapsed policy. These conditions:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Require that reinstatement can only be done within a grace period</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) Are found in the reinstatement provision of the policy</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Say you can reinstate if past due premiums are paid back with interest within 5 years</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Are not normally a part of a policy, they must be requested</p>

		<p data-proctor-target="question" class="h5 p-2">42. The &#8220;entire contract&#8221; clause of life insurance policies states that the use of evidence is limited to the contract and the attached application in determining the policy&#8217;s validity.</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) True </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) False</p>

		<p data-proctor-target="question" class="h5 p-2">43. The Free Look provision of life insurance issued in California states that certain conditions exist in order for a policy to be delivered to the insured properly. Which of the following is <b>not correct</b> in determining good delivery?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) The policy was mailed with a signed delivery receipt</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) The policy was mailed certified</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) The policy was hand delivered personally, no receipt of delivery needed</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) None of the above</p>

		<p data-proctor-target="question" class="h5 p-2">44. The insured cannot borrow against the loan value of the policy without the permission and consent of which of the following?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Revocable beneficiary</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) Irrevocable beneficiary</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) It doesn&#8217;t matter what kind of beneficiary is designated. As long as there is enough cash value, the insured can borrow funds without permission from anyone</p>

		<p data-proctor-target="question" class="h5 p-2">45. The Uniform Simultaneous Death Act (survivorship or time clause) was created to address situations in which the beneficiary survives the insured. Which of the following is <b>false</b>?</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) It is a time period after the death of the insured as stated in the policy. The time is always very short</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) It is also known as the common disaster clause</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) The act assumes a certain order of death occurs in determining who gets paid the face amount</p>

		<p data-proctor-target="question" class="h5 p-2">46. If the insured of a life insurance policy does not select a settlement option on behalf of the beneficiary, the beneficiary:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Must take a lump sum payment</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) Can choose a settlement since it was not chosen by the insured</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Now becomes the new owner and will make premium payments to build tax deferred cash value</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) None of the above</p>

		<p data-proctor-target="question" class="h5 p-2">47. What recommendation would you give to a client who wants to receive the highest monthly income from a whole life policy purchased many years ago? This client needs an income that cannot be outlived and will not fluctuate monthly.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Take all the cash value and buy a good variable annuity</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Get a life income with period certain option</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Get a fixed period option</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">d) None of the above, there is nothing that can accomplish the request</p>

		<p data-proctor-target="question" class="h5 p-2">48. Identify how the cash surrender value of a policy can be used:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Buy paid-up insurance in a reduced amount</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Buy extended term insurance for a full face amount</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Receive cash</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">d) All the above are true</p>

		<p data-proctor-target="question" class="h5 p-2">49. Utilizing the &#8220;extended term option&#8221; means taking the cash value and using it as a single premium payment to buy a paid up policy with the same face amount for a specified length of time.</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) True   </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) False</p>

		<p data-proctor-target="question" class="h5 p-2">50. A participating policy gives the policy owner the right to receive dividends. These dividends are not guaranteed.</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) True </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) False</p>

		<p data-proctor-target="question" class="h5 p-2">51. There is a financial product that was created to address the risk of a person outliving their life savings. What is this product called?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Bank certificates </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) Annuities</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Mutual funds </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) The retirement benefits of Social Security</p>

		<p data-proctor-target="question" class="h5 p-2">52. Connie owns a single premium immediate annuity. Select the answer which is most correct as to how payments will be made to her.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Immediately after the first year has elapsed</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) Immediately following the first premium</p>

		<p data-proctor-target="question" class="h5 p-2">53. Which of the products listed below contain an appealing feature of tax deferral?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Annuities </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) Both A and C</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Individual retirement accounts (IRA&#8217;s) </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Neither A nor C</p>

		<p data-proctor-target="question" class="h5 p-2">54. Select the correct statement concerning qualified retirement plans.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Any money that a company contributes is not tax deductible for them</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) These plans have qualified for a high investment ranking that is much sought after</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) Income taxes are deferred until a later date when the income is received by the plan participant</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Even at distribution, no income tax is paid because the company has paid it</p>

		<p data-proctor-target="question" class="h5 p-2">55. Of the following, which are true statements?</p>
		<p data-proctor-target="question" class="h5 p-2">1. Profit sharing programs are a type of defined benefit plan.</p>
		<p data-proctor-target="question" class="h5 p-2">2. A tax deduction is granted to all contributions to an Individual Retirement Account</p>
		<p data-proctor-target="question" class="h5 p-2">3. Any employee contribution to a 401(k) program is 100% vested</p>
		<p data-proctor-target="question" class="h5 p-2">4. Self-employed persons can plan for retirement by using a Keogh plan</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) 1 &amp;2 </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) 1, 2 &amp; 3 </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) 3 &amp; 4</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) 2, 3, &amp; 4</p>

		<p data-proctor-target="question" class="h5 p-2">56. Marge participates in an ESOP at her work. All of the following <b>are correct</b> about Marge&#8217;s ESOP, except:</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) There are no tax deduction incentives for the company on an ESOP</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) It is a qualified employee benefit plan</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Marge actually has partial ownership of the company through stock</p>

		<p data-proctor-target="question" class="h5 p-2">57. Which of the following is <b>false</b> regarding retirement plans?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) TSA stands for Tax Sheltered Account</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) 401(k) plans reduce salary to contribute money to the plan</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) An annuity is a qualified plan per the IRS rules</p>

		<p data-proctor-target="question" class="h5 p-2">58. Select the choice(s) that are <b>not</b> the responsibilities of a master contract owner for a group of employees in their health insurance.</p>
		<p data-proctor-target="question" class="h5 p-2">1. Select only the employees that do <b>not</b> represent too high of a risk for the insurer, a form of field underwriting.</p>
		<p data-proctor-target="question" class="h5 p-2">2. Own the master policy</p>
		<p data-proctor-target="question" class="h5 p-2">3. Submit to the insurer information required for applying for the contract</p>
		<p data-proctor-target="question" class="h5 p-2">4. Assure premiums are paid when due</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) 1, 2, and 3 </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) 2 &amp; 4 </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) 1 only </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) 3 only</p>

		<p data-proctor-target="question" class="h5 p-2">59. Patrick attends a large university as a student. One of his student benefits is that he has blanket health insurance coverage. What would be a correct statement about Patrick&#8217;s insurance?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) The insurer has issued the contract only to Patrick and will cover medical bills on an excess basis</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) The policy breaks the coverage up into groups of 5 students or less</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) Patrick is not individually identified on the policy, rather it insures an entire &#8220;class&#8221; of insureds</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Patrick will only be covered if he is in his dorm and sleeping</p>

		<p data-proctor-target="question" class="h5 p-2">60. Which of the following cannot be used as the only reason for an insurer to decline a health insurance application?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Preexisting conditions</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) Fraudulent misstatements on application information gathered from the Medical Information Bureau (MIB)</p>

		<p data-proctor-target="question" class="h5 p-2">61. What is a morbidity table?</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) A table that has information on the probability of disabilities because of sicknesses or accidents</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) A table that has information on the probability of death</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) A table that projects the number of deaths each year</p>

		<p data-proctor-target="question" class="h5 p-2">62. What is required of the insured to attain group insurance coverage and not have to provide &#8220;evidence of insurability?&#8221;</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) Enrollment must occur during an eligibility period</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Nothing at all</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) An attending physician&#8217;s statement (APS) is needed with the application</p>

		<p data-proctor-target="question" class="h5 p-2">63a. How many provisions are found in the Uniform Optional Provisions?</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) 11 </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) 12 </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) 15 </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) None, there are no optional provisions allowed in California</p>

		<p data-proctor-target="question" class="h5 p-2">63b. How many provisions are found in the Uniform Mandatory Provisions?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) 11 </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) 12</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) 15 </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) None, there are no optional provisions allowed in California</p>

		<p data-proctor-target="question" class="h5 p-2">64. Which of the following is a true statement?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) The &#8220;free look&#8221; clause gives an applicant enough time (30 days) to review proposed endorsements and any sales literature before applying for insurance</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) The &#8220;free look&#8221; clause provides that an insurer has the authorization to get an inspection report and physical exam within 15 days on the proposed insured prior to insuring</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) The &#8220;free look&#8221; clause allows the insured to review the contract for a number of days (10 days). If they so desire, they may return it and receive a full refund of premiums paid</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) The &#8220;free look&#8221; clause only lets the applicant look over the application for 10 days before filling it out</p>

		<p data-proctor-target="question" class="h5 p-2">65. HICAP (Health Insurance Counseling Advocacy Program) helps to provide to the senior community information on Medicare, health insurance, and retirement planning. What else is true in connection with HICAP?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) HICAP charges a fee for this service</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Both are true</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) HICAP does not endorse or sell any types of insurance</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Both are false</p>

		<p data-proctor-target="question" class="h5 p-2">66a. The process whereby a mutual insurer becomes a stock insurer is known as:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Reorganization </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Stock buyout</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Stock split </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">d) Demutualization</p>

		<p data-proctor-target="question" class="h5 p-2">66b. The process whereby a stock insurer becomes a mutual insurer is known as:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Reorganization </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) Mutualization</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Stock split </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Demutualization</p>

		<p data-proctor-target="question" class="h5 p-2">67. Industrial life insurance, used in the early years of the insurance business, has what characteristics:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Premiums are paid each year </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) The policies are written for people in industrial plants only</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Face values are more than $1,000</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">d) Premiums are submitted every week</p>

		<p data-proctor-target="question" class="h5 p-2">68. Life insurance has become unimportant in the process of financial planning since the introduction of long term care policies:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) True  </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) False</p>

		<p data-proctor-target="question" class="h5 p-2">69. Insurance companies have an obligation to pay death benefits to:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) The owner upon the death of the insured</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) The owner upon the death of the beneficiary</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) The beneficiary upon the death of the insured</p>

		<p data-proctor-target="question" class="h5 p-2">70. An employee&#8217;s dependent who is 23, and in school full time, is always entitled to be covered under group insurance:</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) True  </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) False</p>

		<p data-proctor-target="question" class="h5 p-2">71. If an applicant submits to a blood test, and the test verifies the applicant has AIDS, the insurance company cannot share this information with the applicant&#8217;s doctor.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) True  </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) False</p>

		<p data-proctor-target="question" class="h5 p-2">72. Group insurance law stipulates that an incontestability period be provided to the applicant. The time period is:</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) 2 years</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) 6 months</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) 1 year </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) There is no incontestability period in force in California</p>

		<p data-proctor-target="question" class="h5 p-2">73. Certificates of insurance are issued to employees covered under group plans. These certificates may not contain which of the following?</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) The premium</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) The conversion clause </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) The person who would receive benefits</p>

		<p data-proctor-target="question" class="h5 p-2">74. Domestic life insurance companies can invest in all the following, <b>except</b>:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Bank CDs </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Mutual funds</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) Junk bonds of small European countries </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Real estate investments</p>

		<p data-proctor-target="question" class="h5 p-2">75. Death benefits paid are subject to special income tax treatment. Generally, these death benefits are:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Taxed more than regular income</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) Taxed less than regular income (or not at all)</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Tax-deferred<br />
		</p>
		<p data-proctor-target="question" class="h5 p-2">76. HICAP provides which of the following?</p>
		<p data-proctor-target="question" class="h5 p-2">1. Legal assistance</p>
		<p data-proctor-target="question" class="h5 p-2">2. Consumer advocacy </p>
		<p data-proctor-target="question" class="h5 p-2">3. Drug counseling</p>
		<p data-proctor-target="question" class="h5 p-2">4. Medical aid</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) 1, 2, 3</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) 2, 3, 4  </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) All the above </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) None of the above</p>

		<p data-proctor-target="question" class="h5 p-2">77. When must a policyowner have an insurable interest in the life of an insured?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) For the whole length of time the policy is in force</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) When the loss occurs</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) When the policy becomes effective</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) (b) and (c) above</p>

		<p data-proctor-target="question" class="h5 p-2">78. In regards to representations, which of the following is correct?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Representations can only be in writing</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Representations are guaranteed to be true</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) Representations are statements made to the best of one&#8217;s knowledge</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) All are true</p>

		<p data-proctor-target="question" class="h5 p-2">79. Which of the following is <b>false</b>?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Life insurance creates an immediate estate, annuities do not</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) Annuities create an immediate estate, life insurance does not</p>

		<p data-proctor-target="question" class="h5 p-2">80. Choose the correct statement about getting insurance through &#8220;non-admitted&#8221; carriers:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) The Department does not regulate these insurers</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) The Department allows a life agent the same freedom to market non-admitted business as admitted business</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) The Department does not allow a life agent the same freedom to market non-admitted business as admitted business</p>

		<p data-proctor-target="question" class="h5 p-2">81. The main purpose of an insurance Guarantee Associations is to protect the public against:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Discrimination </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) Loss as the result of insurer insolvency</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) High premium rates </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) False claims practices</p>

		<p data-proctor-target="question" class="h5 p-2">82. For life insurance, the Guarantee Association will pay no more than $250,000 per person. </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) True  </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) False</p>

		<p data-proctor-target="question" class="h5 p-2">83. Choose from the list below those which are designated classes of insurance, according to the code.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">1. Liability</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">2.Workers Compensation</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">3. Annuities</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">4. Marine</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) 2 and 3 </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) 1, 2, and 3 </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) 1, 2, and 4 </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) All the above</p>

		<p data-proctor-target="question" class="h5 p-2">84. An insurance solicitor is a natural person hired to assist an insurance broker in transacting insurance other than life insurance.</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) True  </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) False</p>

		<p data-proctor-target="question" class="h5 p-2">85. Coverage cannot be obtained from an admitted insurer. Therefore, an entity is identified that can sell insurance not underwritten in California. What is this entity?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) An insurance broker </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) A foreign insurer</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) A bail bond broker </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">d) A surplus lines broker</p>

		<p data-proctor-target="question" class="h5 p-2">86. Regarding the handling of personal funds with fiduciary funds, which of the following is true?</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) The two funds can never commingle</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Fiduciary funds are allowed to be placed in safe stock investments</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) (a) and (b) are true</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) (a) and (b) are false</p>

		<p data-proctor-target="question" class="h5 p-2">87. Choose from the items listed below a possible penalty for an agent who commits fraud:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Up to 5 years in prison</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) A fine of $150,000 or double the value of the fraud (whichever is greater)</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) A year in county jail</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">d) Any of the above</p>

		<p data-proctor-target="question" class="h5 p-2">88. Which is correct about the &#8220;Notice Regarding Replacement of Life Insurance&#8221; that agents are required to deliver to life insurance applicants:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) It must be delivered to all applicants, whether or not a policy is replaced</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) If the policy being replaced is less than $5,000 in face amount, the notice is not required to be delivered</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) It must be delivered to the applicant at least by the date of the application</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) It is not required for life insurance</p>

		<p data-proctor-target="question" class="h5 p-2">89. Which of the following statements is correct?</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) The premium is the amount payable to the insurer from the insured.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) The consideration is the amount payable to the insurer from the insured.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Neither is correct</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Both are correct</p>

		<p data-proctor-target="question" class="h5 p-2">90. An insurance policy that states surplus from an insurance company that is shared with policy owners is a:</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) Participating policy</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Non-participating policy</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Stock insurance company contract</p>

		<p data-proctor-target="question" class="h5 p-2">91. A life insurance policy has cash value build-up in it. This means:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Cash value is too small to be considered of any value.</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) Cash value can be used for loans, usually found available for lower rates of interest.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Cash value cannot be accessed until the policy matures.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) All are true</p>

		<p data-proctor-target="question" class="h5 p-2">92. The premiums for a variable universal life insurance contract:</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) Must be paid at certain times, and can vary in their amount.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Can vary in payment schedule and amount. </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Must not vary in amount, but can vary when they must be paid.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Cannot vary in payment and amount.</p>

		<p data-proctor-target="question" class="h5 p-2">93. Which of the following comprise a &#8220;Family Income&#8221; insurance policy?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Term insurance </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Permanent combined with increasing term insurance.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Permanent insurance </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">d) Permanent combined with decreasing term insurance</p>

		<p data-proctor-target="question" class="h5 p-2">94. Which of the following comprise a &#8220;Family Maintenance&#8221; insurance policy?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Term insurance</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) Permanent combined with level term insurance.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Permanent insurance</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Permanent combined with decreasing term insurance</p>

		<p data-proctor-target="question" class="h5 p-2">95. If a premium is overcharged in the early years, and then remains constant throughout the premium paying period, though the risk of dying increases, it is called a ______ premium.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Net</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Natural</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Gross</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">d) Level</p>

		<p data-proctor-target="question" class="h5 p-2">96. The taxes that fund Social Security are paid by:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Employees only </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) Employers and employees equally</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Employers only  </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Employers and employee, but the employer pays more</p>

		<p data-proctor-target="question" class="h5 p-2">97. Which of the following benefits is not provided through Worker&#8217;s Compensation in California?</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Death benefits  </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Medical benefits</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) Interest on lost income suffered while injured </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Rehabilitation benefits</p>

		<p data-proctor-target="question" class="h5 p-2">98. Express warranties:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Help speed the underwriting process by not requiring some question"s be answered on an application.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Do not have to be in writing</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) Are contained in the policy, signed by the insured, and made part of that contract</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Do not have to be stated</p>

		<p data-proctor-target="question" class="h5 p-2">99. Group Life Insurance is usually written as:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Family policies  </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) 5 year term</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) 1 year term</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Universal</p>

		<p data-proctor-target="question" class="h5 p-2">100. Identify the minimum age that one must attain in order to be legally able to apply for a life agent&#8217;s license in this state.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) 15 to the nearest birthday</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) 16</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) 18</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) 21</p>

		<p data-proctor-target="question" class="h5 p-2">101. An insurance company can transact any class of insurance:</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) Authorized by its articles of incorporation of charter, and is admitted to transact that class by the insurance commissioner</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Assuming it has paid all required fees</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Assuming the Commissioner grants this ability</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) If it has 25 agents with signed appointments</p>

		<p data-proctor-target="question" class="h5 p-2">102. A written contract attempts to indemnify another party against loss, damage, or liability arising from a contingent or unknown event. This describes:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Incontestability</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) A provision</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) Insurance</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) An illegal contract in California</p>

		<p data-proctor-target="question" class="h5 p-2">103a. An insurer endorses, rejects, declines, cancels, or surrenders an insurance policy. The insurance company must return any unearned premium to the insured within ____ days of cancellation.</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) 15 </p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) 25</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) 35 </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) 120</p>

		<p data-proctor-target="question" class="h5 p-2">103b. An insurer endorses, rejects, declines, cancels, or surrenders an insurance policy, the agent of record must return any unearned premium to the insured within ____days of receipt from the insurance company.</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) 15</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) 25 </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) 35 </p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) 120</p>

		<p data-proctor-target="question" class="h5 p-2">104. Which of the following may hold a license as a life agent?</p>
		<p data-proctor-target="question" class="h5 p-2">1. A life insurance analyst</p>
		<p data-proctor-target="question" class="h5 p-2">2. An insurance broker or agent</p>
		<p data-proctor-target="question" class="h5 p-2">3. An officer of a life insurance firm</p>
		<p data-proctor-target="question" class="h5 p-2">4. An insurance solicitor</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) 1 and 3</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) 1, 2, and 3</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) 1, 2, and 4</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) All the above</p>

		<p data-proctor-target="question" class="h5 p-2">105. A _____ may charge a fee for providing advice and consultation in reference to insurance.</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">a) Life analyst</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Charter Property and Casualty Underwriter</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Life agent</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) None of the above</p>

		<p data-proctor-target="question" class="h5 p-2">106. Jerry collects premiums and pays claims associated with life or health insurance and annuities. Jerry should hold:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) An insurance adjuster&#8217;s license</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) A life broker license</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) A life analyst license</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">d) An Administrator Certificate</p>

		<p data-proctor-target="question" class="h5 p-2">107. After receiving your insurance life agent license, if you change your address, you are to notify the Commissioner, in writing:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Within 10 days</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">b) Immediately</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">c) Within 60 days</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) Within 90 days</p>

		<p data-proctor-target="question" class="h5 p-2">108. Mary has a restricted license. This means she:</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">a) Cannot sell outside of California</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">b) Cannot sell life insurance any longer</p>
		<p data-proctor-target="answer" data-action="click->proctor#answer">c) May have this license revoked or suspended without a hearing</p>
		<p data-proctor-target="wrong" data-action="click->proctor#wrong">d) All the above</p>
		<p data-proctor-target="results" class="h4"></p>
	</div>
</div>