<div class="container-alert" data-controller="alert"> 
  <div class="alert" role="alert">
      <%= notice %>
    <button class="btn-close" data-action="alert#close" aria-label="Close"><i class="fa-solid fa-x"></i></button>
  </div>
</div>